<h5>Follow Me on</h5>
<a href="https://www.facebook.com/{{ site.facebook_id }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook"></i></a>
<a href="https://www.pinterest.com/{{ site.pinterest_id }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-pinterest"></i></a>
<a href="https://github.com/{{ site.github_id }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-github"></i></a>
<a href="https://medium.com/@{{ site.medium_id }}" target="_blank" rel="noopener noreferrer"><i class="fab fa-medium"></i></a>