<h5 class="title">Disclosures</h5>
<!-- Copyscape Banner -->
<div id="copyscape-banner">
  <a href="https://www.copyscape.com/" data-vars-event-label="Copyscape Badge" rel="noopener noreferrer">
    <amp-img src="https://banners.copyscape.com/img/copyscape-banner-white-130x46.png" width="130" height="46"
      alt="Protected by Copyscape" title="Protected by Copyscape - Do not copy content from this page." style="width:130px;height:46px;">
    </amp-img>
  </a>
</div>
<!-- Affiliate Disclouse -->
<div id="vig-disclose">
  <a href="https://www.viglink.com/legal/consumer-disclosure/" data-vars-event-label="Viglink Badge" rel="noopener noreferrer">
    <amp-img alt="VigLink badge" src="https://www.viglink.com/images/badges/120x60.png" title="Links monetized by VigLink" width="120" height="60"
      style="width:120px;height:60px;margin:5px;">
    </amp-img>
  </a>
</div>