<h3 class="title">Disclosures</h3>
<!-- Copyscape Banner -->
<div id="copyscape-banner">
  <a href="https://www.copyscape.com/" data-vars-event-label="Copyscape Badge"
    aria-label="Copyscape - link opens in a new tab" rel="noopener noreferrer" target="_blank">
    <amp-img src="https://banners.copyscape.com/img/copyscape-banner-white-130x46.png" width="130" height="46"
      alt="© Protected by Copyscape" title="Opens in New Tab" style="width:130px;height:46px;">
    </amp-img>
  </a>
</div>
<!-- Affiliate Disclouse -->
<div id="vig-disclose">
  <a href="https://www.viglink.com/legal/consumer-disclosure/" data-vars-event-label="Viglink Badge"
    aria-label="Disclouse of Sovrn //Commerce Affiliate Program - link opens in a new tab"
    rel="noopener noreferrer" target="_blank">
    <amp-img src="https://www.viglink.com/images/badges/120x60.png" width="120" height="60"
      alt="Links monetized by VigLink" title="Opens in New Tab" style="width:120px;height:60px;margin:5px;">
    </amp-img>
  </a>
</div>