<h3 class="title">Disclosures</h3>
<!-- Copyscape Banner -->
<div id="copyscape-banner">
  <a href="https://www.copyscape.com/" data-vars-event-label="Copyscape Badge"
    aria-label="Copyscape - link opens in a new tab" rel="noopener noreferrer" target="_blank">
    <amp-img src="https://banners.copyscape.com/img/copyscape-banner-white-130x46.png" width="130" height="46"
      alt="© Protected by Copyscape" title="Opens in New Tab" style="width:130px;height:46px;">
    </amp-img>
  </a>
</div>
