# Site
name: "AMP Affiliately Jekyll Theme"
title: "AMP Affiliately Jekyll Theme"
description: "An AMP-ready Jekyll blog theme"
url: https://chriskyfung.github.io
baseurl: '/amp-jekyll-theme-with-sirdata-consent'
favicon: 'assets/images/favicon.png'
logo: 'assets/images/logo-plainSVG.svg'
permalink: /:year/:month/:day/:title
paginate: 6
timezone: 'Asia/Hong_Kong'

# Set <USERNAME>/<PROJECT> to display the button to the project
repository: chriskyfung/amp-affiliately-jekyll-theme

# Navigation Features
nav:
  buttons:
    gh_sponsors: true # Show GitHub Sponsors button
  global:
    home: false
    menu: false
    dropdown: false # Show menu with dropdown submenu
  local:
    items:
      - name: Features
        url: category/feature/
      - name: Docs
        url: category/doc/
      - name: Samples
        url: category/sample/
    menu: true
    title:
      limit: 40

# Footer Features
footer:
  col1:
    title: Features
    items: 
      - name: Responsive Design
        url: responsive-web-design/
      - name: Styles
        url: style-guide/
      - name: Media
        url: media/
      - name: Code Block
        url: code/
      - name: Post-Processing
        url: post-processing/
  col2:
    title: Docs
    items: 
      - name: Config Guide
        url: config-guide/
      - name: Front Matter Guide
        url: front-matter-guide/
      - name: Plugins and Extensions
        url: plugins/
      - name: Ads Settings
        url: ads-settings/

# List Sorting
sort_categories: false
sort_tags: false

# Content Post-processing
target_blank: false
anchor_link: true

# Sidebar Features
sidebar:
  featured: true
  recent_posts: true

# Disqus Comments
amp_disqus: 
  shortname: 'chriskyfung' # Disqus shortname
  url: 'https://chriskyfung.gitlab.io/disqus-amp/' #baseurl of your AMP disqus iframe element
  height: 580

# Google Custom Search Engine ID
cse_id: 011006674894885990812:tjln7k0nyjx 

# Analytics
ga4: 'G-HP4LN87NJE' # Google Analytics 4 Measurement ID

# Google Ads
adstyle: true
adsense: 
  client_id: 'ca-pub-4819282024314540' # Google Adsense client ID
  auto_ads: true
  ad_slot:
    # before_content: 2454411055 # Ad Slot that places before content
    sidebar: 1391498756 # Ad Slot that places to sidebar

# Soical Buttons
social:
  facebook: chriskyfung
  pinterest: chriskyfung
  github : chriskyfung
  medium: chriskyfung

# Buy Me a Coffee
buymeacoffee: chriskyfung

# Copyright
copyright: 
  prefix: 
  ownership: Chris KY FUNG
  link: https://chriskyfung.github.io/

# Cookie Consent Notice
consent: true
consent_dev_mode: false
amp_optimizer: true
script_hash:
  consent_gsc: sha384-n2-YMnb2FkeDk-Ca2pVnoYSR2FqNKqKgTwfK_UI0EAeVRCAHgCDjsecHJpVMv3Sl
sirdata:
  partner_id: 44783
  config_id: 8NxPD

# Plugins
plugins: 
  - jekyll-archives
  - jekyll-feed
  - jekyll-github-metadata
  - jekyll-paginate
  - jekyll-redirect-from
  - jekyll-seo-tag
  - jekyll-sitemap

# Archives
jekyll-archives:
  enabled:
    - categories
    - tags
  layout: archive
  permalinks: 
    category: '/category/:name/'
    tag: '/tag/:name/'

# Other
markdown: kramdown
highlighter: rouge

# Directories and/or files from the conversion
exclude:
  - frontmatter.json
  - gulpfile.js
  - LICENSE
  - package-lock.json
  - package.json
  - README.md

############################################################
# Site configuration for the WebP Generator Plugin
# The values here represent the defaults if nothing is set
webp:
  enabled: false
  
  # The quality of the webp conversion 0 to 100 (where 100 is least lossy)
  quality: 75

  # List of directories containing images to optimize, nested directories will only be checked if `nested` is true
  # By default the generator will search for a folder called `/img` under the site root and process all jpg, png and tiff image files found there.
  img_dir: ["/images/", "/assets/images"]

  # Whether to search in nested directories or not
  nested: true

  # add ".gif" to the format list to generate webp for animated gifs as well
  formats: [".jpeg", ".jpg", ".png", ".tiff"]

  # File extensions for animated gif files 
  gifs: [".gif"]

  # Set to true to always regenerate existing webp files
  regenerate: false

  # Local path to the WebP utilities to use (relative or absolute)
  # Omit or leave as nil to use the utilities shipped with the gem, override only to use your local install
  webp_path: nil

  # List of files or directories to excludes
  # e.g. custom or hand generated webp conversion files
  exclude: []

  # append '.webp' to filename after original extension rather than replacing it.
  # Default transforms `image.png` to `image.webp`, while changing to true transforms `image.png` to `image.png.webp`
  append_ext: false
############################################################
