<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="card card-list">
    <div class="row">
        <div class="col-md-5 wrapthumbnail">
            <a href="{{ post.url | absolute_url }}">
            <div class="thumbnail{% if post.image.fit %} fit-{{post.image.fit}} {% endif %}">
                {% if post.image.path %}
                    {% include picture.html img=post.image.path ext=post.image.ext width="112" height="150" layout="intrinsic" lightbox=false %}
                {% else %}
                    {% include picture.html img="write-2160925.svg" source="assets" width="112" height="150" layout="intrinsic" lightbox=false %}
                {% endif %}
            </div>
            </a>
        </div>
        <div class="col-md-7 p-0">
            <div class="card-block pt-3">
                <h2 class="card-title"><a href="{{ post.url | absolute_url }}">{{ post.title | truncate: 68 }}</a></h2>
                <div class="metafooter">
                    <div class="wrapfooter">
                        {% if post.author %}
                        <span class="meta-footer-thumb">
                        <amp-img class="author-thumb" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" width="40" height="40" alt="{{ author.display_name }}"></amp-img>
                        </span>
                        <span class="author-meta">
                        <span class="post-name"><a target="_blank" href="{{ author.web }}">{{ author.display_name }}</a></span><br/>
                        {% endif %}
                        <span class="post-date">{{ post.date | date_to_string }}</span>
                        </span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->