{%- if include.playlist -%}
{{ include.indent }}<amp-youtube width="480" height="270" layout="responsive" data-videoid="{{ include.id }}" data-param-listType="playlist" data-param-list="{{ include.playlist }}" data-param-rel="0">
  <div fallback>
    <p>This browser does not support the YouTube video player. <a href="https://youtu.be/{{ include.id }}" rel="noopener" target="_blank">Watch on YouTube</a></p>
  </div>
  {{ include.indent }}</amp-youtube>
{%- else -%}
{{ include.indent }}<amp-youtube width="480" height="270" layout="responsive" data-videoid="{{ include.id }}" data-param-rel="0">
  <div fallback>
    <p>This browser does not support the YouTube video player. <a href="https://youtu.be/{{ include.id }}" rel="noopener" target="_blank">Watch on YouTube</a></p>
  </div>
  {{ include.indent }}</amp-youtube>
{%- endif -%}

{%- if include.title -%}
{% capture label %}{{ include.title | escape_once }} | youtu.be/{{ include.id }}{% endcapture %}
{%- else -%}
{% capture label %}youtu.be/{{ include.id }}{% endcapture %}
{%- endif -%}

{%- if site.ga4 -%}
{{ include.indent }}<amp-analytics type="gtag" data-credentials="include"
    {%- if site.consent == true %}
      data-block-on-consent-purposes="analytics"
    {% endif -%}
  >
  <script type="application/json">
  {
    "vars": {
      "gtag_id": "{{ site.ga4 }}",
      "config": {
        "{{ site.ga4 }}": { "groups": "default" }
      }
    },
    "triggers": {
      "videoPlay": {
        "on": "video-play",
        "request": "event",
        "selector": "amp-youtube[data-videoid='{{ include.id }}']",
        "vars": {
          "event_name": "video_start",
          "method": "Google",
          "video_current_time": "${currentTime}",
          "video_duration": "${duration}",
          "video_percent": "$CALC($CALC(${currentTime}, ${duration} , divide, false),100, multiply, true)",
          "video_provider": "youtube",
          "video_title": "{{ label }}",
          "video_url": "https://www.youtube.com/watch?v={{ include.id }}"
        }
      },
      "videoPause": {
        "on": "video-pause",
        "request": "event",
        "selector": "amp-youtube[data-videoid='{{ include.id }}']",
        "vars": {
          "event_name": "video_paused",
          "method": "Google",
          "video_current_time": "${currentTime}",
          "video_duration": "${duration}",
          "video_percent": "$CALC($CALC(${currentTime}, ${duration} , divide, false),100, multiply, true)",
          "video_provider": "youtube",
          "video_title": "{{ label }}",
          "video_url": "https://www.youtube.com/watch?v={{ include.id }}"
        }
      },
      "videoEnded": {
        "on": "video-ended",
        "request": "event",
        "selector": "amp-youtube[data-videoid='{{ include.id }}']",
        "vars": {
          "event_name": "video_complete",
          "method": "Google",
          "video_current_time": "${currentTime}",
          "video_duration": "${duration}",
          "video_percent": "$CALC($CALC(${currentTime}, ${duration} , divide, false),100, multiply, true)",
          "video_provider": "youtube",
          "video_title": "{{ label }}",
          "video_url": "https://www.youtube.com/watch?v={{ include.id }}"
        }
      }
    }
  }
  </script>
{{ include.indent }}</amp-analytics> 
{%- endif -%}
