@use "sass:map";

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &:empty {
    display: none;
  }
}

.btn .badge {
  position: relative;
  top: -1px;
}

a.badge {
  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

$badge-colors: (
  "default": (
    "bg": #636c72,
    "hover": #4b5257
  ),
  "primary": (
    "bg": #0275d8,
    "hover": #025aa5
  ),
  "success": (
    "bg": #5cb85c,
    "hover": #449d44
  ),
  "info": (
    "bg": #5bc0de,
    "hover": #31b0d5
  ),
  "warning": (
    "bg": #f0ad4e,
    "hover": #ec971f
  ),
  "danger": (
    "bg": #d9534f,
    "hover": #c9302c
  )
);

@each $name, $color-map in $badge-colors {
  .badge-#{$name} {
    background-color: map.get($color-map, "bg");

    &[href] {
      &:focus, &:hover {
        background-color: map.get($color-map, "hover");
      }
    }
  }
}
