.beforefooter {
  background: linear-gradient(rgba(255, 241, 0, 0.8), rgba(255, 241, 0, 0.8)), url('https://chriskyfung.github.io/images/header-bg.jpg');
  background-size: contain;
  background-position-x: center;
  background-blend-mode: overlay;
  color: #111;
  max-width: 100%;
  margin: 50px auto -50px;
  padding: 50px 0;
  text-align: center;

  h3 {
    margin-bottom: 1rem;
  }

  @supports (background-blend-mode: overlay) {
    background-color: #fff100;
    background-image: url('https://chriskyfung.github.io/images/header-bg.jpg');
    background-blend-mode: overlay;
  }
}

.footer {
  background-color: #171e27;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #999;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 30px 0;
  text-align: center;

  a {
    color: inherit;

    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }

  amp-ad {
    max-width: 1140px;
    margin: auto;
  }

  .footer-bar {
    padding-top: 1.5rem;
    font-size: 0.9em;

    a {
      color: #eee;
    }
  }

  .textwidget a {
    border-bottom: 1px dashed;
  }

  .footer-widget {
    font-size: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    .title {
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #fff;
      margin-bottom: 1.5rem;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      margin: 12px 0;
    }

    .recent-posts img {
      float: left;
      margin-right: 10px;
    }
  }

  .footersocial {
    h3 {
      font-size: 1.48rem;
    }

    .fab {
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: inline-block;
      background: #fff;
      border-radius: 3px;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
      font-size: 18px;
      margin-left: 5px;
      color: #3c3838;
      margin-top: 10px;
    }
  }
}

.footer-widget-blob {
  background: #e9e4ff;
  border-radius: 60% 70% 500% 70%;
}

.footer-widget-image-wrapper {
  display: block;
  margin: auto;
  max-width: 350px;
}
