// _sass/amp-syntax-highlight.scss

// Code Wrap Toggle
$toggle-bg: #555;
$toggle-border: #777;
$toggle-text: #ddd;
$toggle-hover-bg: #777;
$toggle-checked-bg: #00aa00;
$toggle-checked-border: #00aa00;
$toggle-checked-text: #fff;

.code-wrap-toggle-container {
  display: flex;
  align-items: center;
}

.code-wrap-toggle-input {
  display: none;
}

.code-wrap-toggle-label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: $toggle-bg;
  border: 1px solid $toggle-border;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: .7rem;
  color: $toggle-text;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $toggle-hover-bg;
  }
}

.code-wrap-toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code-wrap-toggle-input:checked + .code-wrap-toggle-label {
  background-color: $toggle-checked-bg;
  border-color: $toggle-checked-border;
  color: $toggle-checked-text;

  .code-wrap-toggle-icon {
    color: $toggle-checked-text;
  }
}

.code-wrap .highlight pre {
  white-space: pre-wrap;
}

// Syntax Highlighting
$syntax-bg: #222;
$syntax-text: #fff;
$syntax-hll-bg: #333;
$syntax-comment: #008800;
$syntax-comment-bg: #0f140f;
$syntax-keyword: #fb660a;
$syntax-number: #0086f7;
$syntax-string: #0086d2;
$syntax-function: #ff0086;
$syntax-tag: #fb660a;
$syntax-class: #cdcaa9;
$syntax-error: #ff0007;
$syntax-scrollbar-bg: #555;
$syntax-scrollbar-thumb: #999;

.highlight {
  pre {
    background-color: $syntax-bg;
    color: $syntax-text;

    &::-webkit-scrollbar {
      height: 10px;
      width: 10px;
      background-color: $syntax-scrollbar-bg;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $syntax-scrollbar-thumb;
        border-radius: 5px;
    }
  }

  .hll {
    background-color: $syntax-hll-bg;
  }

  .c, .cm, .c1, .cs {
    color: $syntax-comment;
    font-style: italic;
    background-color: $syntax-comment-bg;
  }

  .err, .g, .l, .n, .o, .x, .p, .gd, .ge, .gr, .gh, .gi, .gp, .gs, .gu, .gt, .ld, .nb, .nc, .nd, .ni, .ne, .nl, .nn, .nx, .py, .ow, .bp {
    color: $syntax-text;
  }

  .k, .kc, .kd, .kn, .kp, .kr, .nt, .nv, .vc, .vg, .vi {
    color: $syntax-keyword;
  }
  
  .k, .kc, .kd, .kn, .kr, .kt, .nt, .gh, .gu {
      font-weight: bold;
  }

  .cp {
    color: $syntax-error;
    font-weight: bold;
    font-style: italic;
    background-color: $syntax-comment-bg;
  }

  .kt {
    color: $syntax-class;
    font-weight: bold;
  }

  .m, .mf, .mh, .mi, .mo, .il {
    color: $syntax-number;
    font-weight: bold;
  }

  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .sr, .s1, .ss, .no {
    color: $syntax-string;
  }

  .na, .nf {
    color: $syntax-function;
    font-weight: bold;
  }

  .w {
    color: #888888;
  }

  .go {
    color: #444444;
    background-color: #222222;
  }
}

.rouge-table pre {
  border: none;
  margin: 0;
}

