@use "theme-vars" as *;

.screen-reader-only {
  position: absolute;
  left: -5000px;

  &:focus {
    left: 0;
  }
}

#toc {
  font-weight: bold;
}

#markdown-toc {
  ul {
    margin: 0;
  }

  li {
    margin-left: -.5em;
    font-size: .9375rem;
  }

  li::marker {
    color: $btn-primary-border;
    font-size: .875rem;
  }
}

