@media (min-width: 576px) {
  .beforefooter,
  .footer {
    text-align: left;
  }

  .bmc-button {
    font-size: 16.5px;
  }

  .card-columns.listfeaturedtag {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }

  .footer-widget {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  .left-sidebar {
    order: -1;
  }

  .listfeaturedtag {
    .card .thumbnail img {
      left: -50%;
      max-width: 500px;
      overflow-x: hidden;
    }

    .card-list .thumbnail img {
      width: 291px;
    }
  }

  .sidebar {
    max-width: 340px;
  }
}

@media (min-width: 768px) {
  .bmc-button {
    font-size: 28px;
  }

  .listfeaturedtag {
    .card .thumbnail img {
      left: -25%;
    }
  }

  .post-top-meta.authorpage {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .intro {
    padding: 9rem 0;

    h2 {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }
  }

  .listfeaturedtag {
    .card {
      height: 260px;

      .thumbnail img {
        left: -75%;
      }
    }

    .card-list {
      height: 150px;
    }

    .card-block {
      padding-left: 0;
    }

    .wrapfooter {
      padding-left: 0;
      right: auto;
    }

    .wrapmeta {
      -webkit-flex: 0 0 58.333333%;
      -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
      max-width: 58.333333%;
      margin-left: -3px;
      height: inherit;
    }

    .wrapthumbnail {
      -webkit-flex: 0 0 41.666667%;
      -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
      max-width: 41.666667%;
      height: 258px;
      flex: 0 0 auto;
    }
  }

  .mediumnavigation .dropdown-menu {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
    max-height: 60vh;
  }

  .navbar-collapse {
    border: none;
  }

  .navbar-toggleable-md .navbar-nav .nav-link {
    margin-left: .50rem;
    margin-top: initial;
  }

  .navbar-nav {
    max-height: 60vh;
    overflow: visible;
  }

  .wrapintro {
    padding: 3rem;
  }
}

@media (min-width: 1025px) {
  .navbar-btngroup .btn,
  .navbar-toggleable-md .navbar-nav .nav-link {
    margin-left: .75rem;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }

  .navbar-btngroup .btn,
  .navbar-toggleable-md .navbar-nav .nav-link {
    margin-left: 1rem;
  }
}

@supports (object-fit: cover) {
  .listfeaturedtag .card .thumbnail img {
    left: inherit;
    max-width: inherit;
    object-fit: cover;
  }
}
