@use "amp-theme" as *;

$bmc-color: #ff813f;

.bmc-button {
  img {
    height: 34px;
    width: 35px;
    margin-bottom: 1px;
    box-shadow: none;
    border: none;
    vertical-align: middle;
  }

  line-height: 35px;
  height: 51px;
  display: inline-flex;
  background-color: $bmc-color;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 7px 15px 7px 10px;
  font-size: 28px;
  letter-spacing: 0.6px;
  box-shadow: 0 1px 2px hsla(0, 0%, 75%, 0.5);
  margin: 0 auto;
  font-family: Cookie, cursive;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  color: $background-white;
  -webkit-box-shadow: 0 1px 2px 2px hsla(0, 0%, 75%, 0.5);

  &:active, &:focus, &:hover {
    text-decoration: none;
    color: $background-white;
    -webkit-box-shadow: 0 1px 2px 2px hsla(0, 0%, 75%, 0.5);
  }

  &:active, &:focus, &:hover {
    box-shadow: 0 1px 2px 2px hsla(0, 0%, 75%, 0.5);
    opacity: 0.85;
  }
}
