.mediumnavigation {
  .form-control {
    font-size: 0.8rem;
    border-radius: 30px;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.04);
  }

  .form-inline {
    margin-left: 15px;

    .btn {
      margin-left: -50px;
      border: 0;
      border-radius: 30px;
      cursor: pointer;

      &:active,
      &:hover {
        background: transparent;
        color: green;
      }
    }
  }

  .navbar-brand {
    font-weight: 500;
    padding: 0;

    img {
      margin-right: 7px;
      vertical-align: text-bottom;
      max-width: none;
    }
  }

  .nav-item {
    font-size: 0.9rem;
  }

  .search-icon {
    margin-left: -40px;
    display: inline-block;
    margin-top: 3px;
    cursor: pointer;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 7px 1.5rem;
}

.dropdown-menu {
  font-size: 0.9rem;
  display: none;
  overflow: auto;
  z-index: 1;
}

.dropdown:hover .dropdown-menu,
.dropdown-toggle:focus~.dropdown-menu,
.dropdown:focus-within .dropdown-menu {
  display: block;
}

.navbar-collapse {
  border-top: 1px solid #ddd;
}

.navbar-btngroup {
  flex-wrap: nowrap;
  justify-content: right;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  .btn {
    margin-left: .5rem;
  }
}

.navbar-nav {
  max-height: 60vh;
  overflow: auto;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  overflow: hidden;

  &:focus,
  &:hover,
  &:focus-within {
    overflow-x: visible;
    overflow-y: visible;
  }
}

.scrollbar-thin {
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #eee;
    border-radius: 0 3px 3px 0;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;

    &:hover {
      background: #888;
    }
  }
}

.searchbox {
  display: inline;
  width: calc(100% - 86px);
}
