.iubenda-tp-btn {
  position: fixed;
  z-index: 2147483647;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='%231CC691' fill-rule='evenodd' d='M16 7a4 4 0 0 1 2.627 7.016L19.5 25h-7l.873-10.984A4 4 0 0 1 16 7z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  background-position: top .5px left 1px;
  width: 34px;
  height: 34px;
  border: none;
  cursor: pointer;
  margin: 16px;
  padding: 0;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15);
  background-color: #fff;
  display: inline-block;
  height: 34px;
  min-width: 34px;
  border-radius: 4px;
  bottom: 0;
  right: 0;

  &--top-left {
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }

  &--top-right {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
  }

  &--bottom-left {
    bottom: 0;
    left: 0;
    top: auto;
    right: auto;
  }

  &--bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    left: auto;
  }
}