@use "theme-vars" as *;

.categories, .tags {
  list-style: none;
  padding-left: 0;
  margin: 0 0 1.5rem;

  li {
    display: inline-block;
    font-size: .9rem;
    margin-right: 0.2rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      background: $highlight-yellow;
      color: $text-medium;
      padding: 3px 10px;
      border-radius: 3px;
      font-weight: 500;
      font-size: .7rem;
      text-transform: capitalize;
      text-decoration: none;
      box-shadow: 0 6px 10px 0 hsla(0, 0%, 66%, 0.1);

      &:hover {
        background: rgba(0, 0, 0, 0.07);
        text-decoration: none;
      }
    }
  }

  &.rounded-tags {
    li a {
      background: transparent;
      border: 1px solid;
      border-radius: 20px;
    }

    code a {
      box-shadow: inherit;
    }
  }
}
