.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;

  &:empty {
    display: none;
  }
}

.btn .badge {
  position: relative;
  top: -1px;
}

a.badge {
  &:focus, &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-default {
  background-color: #636c72;

  &[href] {
    &:focus, &:hover {
      background-color: #4b5257;
    }
  }
}

.badge-primary {
  background-color: #0275d8;

  &[href] {
    &:focus, &:hover {
      background-color: #025aa5;
    }
  }
}

.badge-success {
  background-color: #5cb85c;

  &[href] {
    &:focus, &:hover {
      background-color: #449d44;
    }
  }
}

.badge-info {
  background-color: #5bc0de;

  &[href] {
    &:focus, &:hover {
      background-color: #31b0d5;
    }
  }
}

.badge-warning {
  background-color: #f0ad4e;

  &[href] {
    &:focus, &:hover {
      background-color: #ec971f;
    }
  }
}

.badge-danger {
  background-color: #d9534f;

  &[href] {
    &:focus, &:hover {
      background-color: #c9302c;
    }
  }
}
