amp-img[aria-label=lightbox] {
  cursor: zoom-in;
}

amp-image-lightbox {
  img {
    object-fit: scale-down;
  }

  button:last-of-type {
    cursor: zoom-out;
    min-width: 100%;
    min-height: 100%;
  }
}

amp-image-viewer img {
  max-width: fit-content;
  transition: width 0.25s linear;
}

amp-lightbox {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1050;
}

a.vglnk {
  border-bottom: 2px dashed gray;
  box-shadow: unset;
}

figure.shadow-none *, .shadow-none {
  box-shadow: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.48rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.25rem;
}

kbd {
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  display: inline-block;
  font-size: .85em;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.article-post {
  del {
    color: #999;
    text-decoration-color: #f05f70;

    a {
      box-shadow: none;
      border-bottom: 1px solid #ddd;
      text-decoration: inherit;
    }
  }

  .box-highlight {
    box-shadow: 1px 2px 15px #675bff;
  }

  figcaption {
    font-size: smaller;
  }

  a {
    > code {
      padding: 0.2rem 0.4rem;
      color: #bd4147;
      background-color: #f7f7f9;
      box-shadow: inset 0 -2px 0 #ffe51f, 0 2px 0 #ffe51f;
    }

    &.citation, &.footnote, &.reversefootnote {
      box-shadow: none;
      background-color: #ffe51f;
    }
  }
}

.card {
  .row, > a {
    height: 100%;
  }
}

.container {
  width: 96%;
  max-width: 100%;
}

.inline-fix + * {
  display: inline;

  + .badge {
    vertical-align: text-top;
  }
}

.listfeaturedtag {
  .card .thumbnail img {
    width: 500px;
    height: 258px;
  }

  .card-list {
    width: 100%;

    .thumbnail img {
      width: 500px;
      height: 150px;
      object-fit: cover;
    }

    .card-title {
      font-size: 1rem;
      margin-top: -0.5rem;
    }

    .wrapthumbnail {
      height: 150px;
    }
  }
}

.mono {
  font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.thumbnail {
  &.fit-left img {
    object-position: left;
  }

  &.fit-right img {
    object-position: right;
  }
}
