$gainsboro_ddd: #dddddd;
$gray_888: #888888;
$lightgray_ccc: #cccccc;
$whitesmoke_eee: #eeeeee;

.mediumnavigation {
  .form-control {
    border: 1px solid rgba(0, 0, 0, .04);
    border-radius: 30px;
    font-size: .8rem;
    overflow: hidden;
  }

  .form-inline {
    margin-left: 15px;

    .btn {
      margin-left: -50px;
      border: 0;
      border-radius: 30px;
      cursor: pointer;

      &:active {
        background: transparent;
        color: green;
      }

      &:hover {
        background: transparent;
        color: green;
      }
    }
  }

  .navbar-brand {
    font-weight: 500;
    padding: 0;

    img {
      margin-right: 7px;
      max-width: none;
      vertical-align: text-bottom;
    }
  }

  .nav-item {
    font-size: .9rem;
  }

  .search-icon {
    cursor: pointer;
    display: inline-block;
    margin-left: -40px;
    margin-top: 3px;
  }
}

.dropdown-item {
  display: block;
  padding: 7px 1.5rem;
  width: 100%;
}

.dropdown-menu {
  display: none;
  font-size: .9rem;
  overflow: auto;
  z-index: 1;
}

.dropdown {
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }

  &:focus-within {
    .dropdown-menu {
      display: block;
    }
  }
}

.dropdown-toggle {
  &:focus {
    ~ {
      .dropdown-menu {
        display: block;
      }
    }
  }
}

.navbar-collapse {
  border-top: 1px solid $gainsboro_ddd;
}

.navbar-btngroup {
  flex-wrap: nowrap;
  justify-content: right;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;

  .btn {
    margin-left: .5rem;
  }
}

.navbar-nav {
  max-height: 60vh;
  overflow: auto;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  overflow: hidden;

  &:focus {
    overflow-x: visible;
    overflow-y: visible;
  }

  &:hover {
    overflow-x: visible;
    overflow-y: visible;
  }

  &:focus-within {
    overflow-x: visible;
    overflow-y: visible;
  }
}

.scrollbar-thin {
  scrollbar-width: thin;

  &:-webkit-scrollbar {
    width: 6px;
  }

  &:-webkit-scrollbar-track {
    background: $whitesmoke_eee;
    border-radius: 0 3px 3px 0;
  }

  &:-webkit-scrollbar-thumb {
    background: $lightgray_ccc;
    border-radius: 3px;

    &:hover {
      background: $gray_888;
    }
  }
}

.searchbox {
  display: inline;
  width: calc(100% - 86px);
}
