@use "amp-theme" as *;

.left-sidebar {
  order: 1;
}

.sidebar {
  font-size: 15px;
  max-width: 100%;

  h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-align: center;
    position: relative;

    span {
      position: relative;
      background-color: $background-white;
      z-index: 2;
      display: inline-block;
      padding: 0 15px;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    &:before {
      margin-bottom: 0;
      position: absolute;
      z-index: 1;
      left: 0;
      top: 12px;
      width: 100%;
      height: 1px;
      content: "";
      background-color: $text-medium;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li a {
    color: $sep-color;
    border-bottom: 1px solid #f6f6f6;
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  #mc_embed_signup {
    form {
      padding: 0;
    }

    .button {
      width: 100%;
      background: $btn-primary-bg;
      height: auto;
      padding: 6px 20px;
      font-weight: 600;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }

    h2 {
      font-weight: 400;
      font-size: 15px;
      color: $sep-color;
      margin-bottom: 1rem;
      line-height: 1.5;
      text-align: center;
    }

    .mc-field-group,
    input {
      width: 100%;
    }
  }
}

.sidebar-section {
  margin-bottom: 2rem;
  padding: 30px 10px 30px 20px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
}
