{%- if site.amp_disqus -%}
  {%- if site.consent == true -%}
    {%- if site.iubenda.remote_consent_url -%}
      {%- assign consent_type = "iubenda" -%}
    {%- else -%}
      {%- assign consent_type = "built-in" -%}
    {%- endif -%}
  {%- endif -%}
<div class="disqus">
  <amp-iframe width=600 height={{ site.amp_disqus.height | default: 140 }} layout="responsive"
  {%- case consent_type %}
    {% when "built-in" -%}
      data-block-on-consent-purposes="functional,analytics,advertising"
    {% when "iubenda" -%}
      data-block-on-consent-purposes="1,3,4,5"
  {% endcase -%}  
    sandbox="allow-scripts allow-same-origin allow-modals allow-popups allow-forms" resizable
    src="{{ site.amp_disqus.url }}?url={{ page.url | absolute_url }}&title='{{ page.title | url_encode }}'">
    <div overflow style="background-color: #0003;display: block;position: relative;">
      <button class="btn btn-dark" aria-label="Load more comments" tabindex="0"
        style="margin: .5em 50%; transform: translateX(-50%);">
        Load more
      </button>
    </div>
    <div placeholder>Loading Disqus Comments...</div>
    <div fallback>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </div>
  </amp-iframe>
</div>
{%- endif -%}
