{%- if site.ga4 -%}
<amp-analytics type="gtag" data-credentials="include">
  <script type="application/json">
  {
    "vars": {
      "gtag_id": "{{ site.ga4 }}",
      "config": {
        "{{ site.ga4 }}": { "groups": "default" }
      }
    },
    "triggers": {
      {{ include.youtube_video_events -}}
      "trackAnchorClicks": {
        "on": "click",
        "selector": "a:not([href^='{{ site.url }}'])",
        "vars": {
          "event_name": "outgoing_click",
          "method": "Google",
          "link_url": "${eventLabel}",
          "outbound": true
        }{%- if page.amp.youtube %}
      },
      "videoPlay": {
        "on": "video-play",
        "request": "event",
        "selector": [{{ include.yt_selectors }}],
        "vars": {
          "event_name": "video_start",
          "method": "Google",
          "video_current_time": "${currentTime}",
          "video_duration": "${duration}",
          "video_percent": "$CALC($CALC(${currentTime}, ${duration}, divide, false), 100, multiply, true)",
          "video_provider": "youtube",
          "video_title": "${videoTitle}",
          "video_url": "${videoUrl}"
        }
      },
      "videoPause": {
        "on": "video-pause",
        "request": "event",
        "selector": [{{ include.yt_selectors }}],
        "vars": {
          "event_name": "video_paused",
          "method": "Google",
          "video_current_time": "${currentTime}",
          "video_duration": "${duration}",
          "video_percent": "$CALC($CALC(${currentTime}, ${duration}, divide, false), 100, multiply, true)",
          "video_provider": "youtube",
          "video_title": "${videoTitle}",
          "video_url": "${videoUrl}"
        }
      },
      "VideoPercentagePlayed": {
        "on": "video-percentage-played",
        "request": "event",
        "selector": [{{ include.yt_selectors }}],
        "vars": {
          "event_name": "video_progress",
          "method": "Google",
          "video_current_time": "${currentTime}",
          "video_duration": "${duration}",
          "video_percent": "$CALC($CALC(${currentTime}, ${duration}, divide, false), 100, multiply, true)",
          "video_provider": "youtube",
          "video_title": "${videoTitle}",
          "video_url": "${videoUrl}"
        },
        "videoSpec": {
          "percentages": [10, 25, 50, 75]
        }
      },
      "videoEnded": {
        "on": "video-ended",
        "request": "event",
        "selector": [{{ include.yt_selectors }}],
        "vars": {
          "event_name": "video_complete",
          "method": "Google",
          "video_current_time": "${currentTime}",
          "video_duration": "${duration}",
          "video_percent": "$CALC($CALC(${currentTime}, ${duration}, divide, false), 100, multiply, true)",
          "video_provider": "youtube",
          "video_title": "${videoTitle}",
          "video_url": "${videoUrl}"
        }{% endif %}
      }
    }
  }
  </script>
</amp-analytics>
{%- endif -%}
