<ul class="navbar-nav ml-auto">
                
    <li class="nav-item">                
    <a class="nav-link" href="/">Home</a>
    </li>
    
    <li class="nav-item dropdown" id="dropdown01">
        <a class="nav-link dropdown-toggle" on="tap:dropdown01.toggleClass(class='show'),navbar.toggleClass(class='show')" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blog</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
        <a class="dropdown-item" href="/blog/"><i class="far fa-newspaper mr-2"></i>All Stories</a>
        <a class="dropdown-item" href="/category/"><i class="far fa-list-alt mr-2"></i>Categories</a>
        <a class="dropdown-item" href="/tag/"><i class="fas fa-tag mr-2"></i>Tags</a>
        </div>
    </li>
    
    <li class="nav-item">                
        <a class="nav-link" href="/category/cloud/">Cloud</a>
    </li> 
    
    <li class="nav-item">                
        <a class="nav-link" href="/category/academic/">Academic</a>
    </li>
    
    <li class="nav-item">                
        <div class="invitation-codes"><a class="invitation-codes-badge" href="https://invitation.codes/@chriskyfung" data-type="" target="_blank"><svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="comment-alt-dots" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class=" " style="display:none;"><path fill="currentColor" d="M448 0H64C28.7 0 0 28.7 0 64v288c0 35.3 28.7 64 64 64h96v84c0 7.1 5.8 12 12 12 2.4 0 4.9-.7 7.1-2.4L304 416h144c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64zm16 352c0 8.8-7.2 16-16 16H288l-12.8 9.6L208 428v-60H64c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16h384c8.8 0 16 7.2 16 16v288zM128 176c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm128 0c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm128 0c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32z" class=""></path></svg><span>Check out my 19 referral codes</span></a></div>
    </li>
    
    <li class="nav-item">
        <button type="button" on="tap:amp-searchbar" id="toggle-search" class="btn btn-primary" data-toggle="modal" data-target="#searchbar"><i class="fas fa-search"></i></button>
    </li>
</ul>