<div class="post-date">
{%- if post -%}
  {%- assign this = post -%}
{%- else -%}
  {%- assign this = page -%}
{%- endif -%}
{%- unless post and this.last_modified_at -%}
<i class="far fa-calendar-alt fa-lg" aria-hidden="true"></i> 
<span class="sr-only">Published on</span> <time datetime="{{ this.date | date_to_xmlschema }}" itemprop="datePublished">{{ this.date | date_to_string }}</time>
{%- if this.last_modified_at %} | {% endif -%}
{%- endunless -%}
{%- if this.last_modified_at -%} 
    <i class="far fa-calendar-alt fa-lg" aria-hidden="true"></i><i class="fas fa-sync-alt fa-xs" aria-hidden="true" style="color:#0293d8;margin-left:-.5em;vertical-align:bottom"></i>
    <span class="sr-only">Updated on</span> <time datetime="{{ this.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ this.last_modified_at | date_to_string }}</time>
{%- endif -%}
</div>
