$black_111: #111111;
$black_171e27: #171e27;
$darkgray_999: #999999;
$darkslategray_3c3838: #3c3838;
$lavender_e9e4ff: #e9e4ff;
$white_fff: #ffffff;
$whitesmoke_eee: #eeeeee;
$yellow_fff100: #fff100;

.beforefooter {
  background: linear-gradient(rgba(255, 241, 0, .8), rgba(255, 241, 0, .8)),
                url("https://chriskyfung.github.io/images/header-bg.jpg");
  background-size: contain;
  background-position-x: center;
  background-blend-mode: overlay;
  color: $black_111;
  max-width: 100%;
  margin: 50px auto -50px;
  padding: 50px 0;
  text-align: center;

  h3 {
    margin-bottom: 1rem;
  }
}

@supports (background-blend-mode: overlay) {
  .beforefooter {
    background-blend-mode: overlay;
    background-color: $yellow_fff100;
    background-image: url("https://chriskyfung.github.io/images/header-bg.jpg");
  }
}

.footer {
  background-color: $black_171e27;
  border-top: 1px solid rgba(0, 0, 0, .05);
  color: $darkgray_999;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 30px 0;
  text-align: center;

  a {
    color: inherit;

    &:hover {
      color: $white_fff;
      text-decoration: none;
    }
  }

  amp-ad {
    margin: auto;
    max-width: 1140px;
  }

  .textwidget {
    a {
      border-bottom: 1px dashed;
    }
  }
}

.footer-bar {
  padding-top: 1.5rem;
  font-size: .9em;

  a {
    color: $whitesmoke_eee;
  }
}

.footer-widget {
  font-size: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;

  h5 {
    &.title {
      color: $white_fff;
      font-size: 18px;
      letter-spacing: 1px;
      margin-bottom: 1.5rem;
      text-transform: uppercase;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin: 12px 0;
  }

  .recent-posts {
    img {
      float: left;
      margin-right: 10px;
    }
  }
}

.footer-widget-blob {
  background: $lavender_e9e4ff;
  border-radius: 60% 70% 500% 70%;
}

.footer-widget-image-wrapper {
  display: block;
  margin: auto;
  max-width: 350px;
}

.footersocial {
  margin-top: 1rem;

  .fab {
    background: $white_fff;
    border-radius: 3px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    color: $darkslategray_3c3838;
    display: inline-block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-left: 5px;
    margin-top: 10px;
    text-align: center;
    width: 40px;
  }
}
