.mediumnavigation .form-control {
  font-size: 0.8rem;
  border-radius: 30px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.04)
}
.mediumnavigation .form-inline {
  margin-left: 15px
}
.mediumnavigation .form-inline .btn {
  margin-left: -50px;
  border: 0;
  border-radius: 30px;
  cursor: pointer
}
.mediumnavigation .form-inline .btn:active,
.mediumnavigation .form-inline .btn:hover {
  background: transparent;
  color: green
}
.mediumnavigation .navbar-brand {
  font-weight: 500;
  padding: 0
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 7px 1.5rem
}
.dropdown-menu,
.mediumnavigation .nav-item {
  font-size: 0.9rem
}
.dropdown-menu {
  display: none;
  z-index: 1
}
.dropdown:hover .dropdown-menu {
  display: block
}
.mediumnavigation .search-icon {
  margin-left: -40px;
  display: inline-block;
  margin-top: 3px;
  cursor: pointer
}
.mediumnavigation .navbar-brand img {
  margin-right: 7px;
  vertical-align: text-bottom;
  max-width: none
}
.navbar-nav .btn {
  margin-left: 15px;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  overflow: hidden
}
.fixed-top:focus-visible {
  overflow: visible
}
.fixed-top:hover {
  overflow-x: visible;
  overflow-y: visible
}
.searchbox {
  display: inline;
  width: calc(100% - 86px)
}
