$black_000: #000000;
$black_171a1d: #171a1d;
$black_1d1e1f: #1d1e1f;
$black_1d2124: #1d2124;
$black_23272b: #23272b;
$black_292b2c: #292b2c;
$darkslateblue_01549b: #01549b;
$darkslateblue_025aa5: #025aa5;
$darkslategray_343a40: #343a40;
$darkslategray_464a4c: #464a4c;
$deepskyblue_5cb3fd: #5cb3fd;
$dimgray_636c72: #636c72;
$dodgerblue_0275d8: #0275d8;
$indianred_bd4147: #bd4147;
$white_fff: #ffffff;
$whitesmoke_eceeef: #eceeef;
$whitesmoke_f7f7f9: #f7f7f9;

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.15;
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  [type=button] {
    -webkit-appearance: button;
  }
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: $white_fff;
  color: $black_292b2c;
  font-family: -apple-system,
                 system-ui,
                 BlinkMacSystemFont,
                 Segoe UI,
                 Roboto,
                 Helvetica Neue,
                 Arial,
                 sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

article {
  display: block;
}

aside {
  display: block;
}

figcaption {
  display: block;
}

figure {
  display: block;
  margin: 0 0 1rem;
}

footer {
  display: block;
}

header {
  display: block;
}

main {
  display: block;
}

nav {
  display: block;
}

section {
  display: block;
}

hr {
  -webkit-box-sizing: content-box;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, .1);
          box-sizing: content-box;
  height: 0;
  margin-bottom: 1rem;
  margin-top: 1rem;
  overflow: visible;
}

pre {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 90%;
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  color: $black_292b2c;

  code {
    background-color: transparent;
    border-radius: 0;
    color: inherit;
    font-size: inherit;
    padding: 0;
  }
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: $dodgerblue_0275d8;
  text-decoration: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;

  >code {
    background-color: inherit;
    color: inherit;
    padding: 0;
  }

  &.btn {
    &.disabled {
      pointer-events: none;
    }
  }
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b {
  font-weight: bolder;
}

strong {
  font-weight: bolder;
}

code {
  background-color: $whitesmoke_f7f7f9;
  border-radius: .25rem;
  color: $indianred_bd4147;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 90%;
  padding: .2rem .4rem;
}

kbd {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

samp {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-size: 1em;
}

sub {
  bottom: -0.25em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

svg {
  &:not(:root) {
    overflow: hidden;
  }
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }

  &.close {
    -webkit-appearance: none;
    background: 0 0;
    border: 0;
    padding: 0;
  }
}

input {
  -ms-touch-action: manipulation;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  overflow: visible;
      touch-action: manipulation;
}

optgroup {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

select {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  text-transform: none;
  cursor: pointer;
  -ms-touch-action: manipulation;
      touch-action: manipulation;

  &.form-control {
    &:focus {
      &:-ms-value {
        background-color: $white_fff;
        color: $darkslategray_464a4c;
      }
    }
  }
}

textarea {
  -ms-touch-action: manipulation;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  overflow: auto;
      touch-action: manipulation;
}

[type=reset] {
  -webkit-appearance: button;
}

[type=submit] {
  -webkit-appearance: button;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

ol {
  margin-top: 0;
  margin-bottom: 1rem;

  ol {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
  }
}

p {
  margin-bottom: 1rem;
  margin-top: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 1rem;

  ol {
    margin-bottom: 0;
  }

  ul {
    margin-bottom: 0;
  }
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role=button] {
  -ms-touch-action: manipulation;
  cursor: pointer;
      touch-action: manipulation;
}

area {
  -ms-touch-action: manipulation;
  cursor: pointer;
      touch-action: manipulation;
}

label {
  -ms-touch-action: manipulation;
  cursor: pointer;
  display: inline-block;
  margin-bottom: .5rem;
      touch-action: manipulation;
}

summary {
  -ms-touch-action: manipulation;
  cursor: pointer;
      touch-action: manipulation;
}

table {
  background-color: transparent;
  border-collapse: collapse;
}

caption {
  caption-side: bottom;
  color: $dimgray_636c72;
  padding-bottom: .75rem;
  padding-top: .75rem;
  text-align: left;
}

th {
  text-align: left;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

.small {
  font-size: 80%;
  font-weight: 400;
}

small {
  font-size: 80%;
  font-weight: 400;
}

.blockquote {
  border-left: .25rem solid $whitesmoke_eceeef;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

.img-fluid {
  height: auto;
  max-width: 100%;
}

.figure {
  display: inline-block;
}

.figure-caption {
  color: $dimgray_636c72;
  font-size: 90%;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 576px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .col-sm-3 {
        -ms-flex: 0 0 25%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
        -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-sm-6 {
        -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-8 {
        -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .col-md-4 {
        -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .col-md-5 {
        -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.666667%;
            flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }

  .col-md-6 {
        -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
        -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.333333%;
            flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .col-md-8 {
        -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
            flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }

  .modal-dialog {
    margin: 30px auto;
    max-width: 500px;
  }
}

@media (min-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (min-width: 992px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .navbar-toggleable-md {
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    .navbar-nav {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
          -ms-flex-direction: row;
              flex-direction: row;

      .nav-link {
        padding-left: .5rem;
        padding-right: .5rem;
      }
    }

    >.container {
      -ms-flex-align: center;
          -ms-flex-wrap: nowrap;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -webkit-flex-wrap: nowrap;
              align-items: center;
      display: flex;
              flex-wrap: nowrap;
    }

    .navbar-collapse {
      display: flex;
      width: 100%;
    }

    .navbar-toggler {
      display: none;
    }
  }

  .float-lg-left {
    float: left;
  }

  .float-lg-right {
    float: right;
  }

  .float-lg-none {
    float: none;
  }
}

@media (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.row {
      -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  display: flex;
          flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.col {
  -ms-flex-positive: 1;
  -ms-flex-preferred-size: 0;
  -webkit-box-flex: 1;
  -webkit-flex-basis: 0;
  -webkit-flex-grow: 1;
          flex-basis: 0;
          flex-grow: 1;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-1 {
      -ms-flex: 0 0 8.333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 8.333333%;
          flex: 0 0 8.333333%;
  max-width: 8.333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-2 {
      -ms-flex: 0 0 16.666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.666667%;
          flex: 0 0 16.666667%;
  max-width: 16.666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-3 {
      -ms-flex: 0 0 25%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-4 {
      -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-5 {
      -ms-flex: 0 0 41.666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 41.666667%;
          flex: 0 0 41.666667%;
  max-width: 41.666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-6 {
      -ms-flex: 0 0 50%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-7 {
      -ms-flex: 0 0 58.333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 58.333333%;
          flex: 0 0 58.333333%;
  max-width: 58.333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-8 {
      -ms-flex: 0 0 66.666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 66.666667%;
          flex: 0 0 66.666667%;
  max-width: 66.666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-9 {
      -ms-flex: 0 0 75%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-10 {
      -ms-flex: 0 0 83.333333%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.333333%;
          flex: 0 0 83.333333%;
  max-width: 83.333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-11 {
      -ms-flex: 0 0 91.666667%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.666667%;
          flex: 0 0 91.666667%;
  max-width: 91.666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-12 {
      -ms-flex: 0 0 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-1 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-2 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-3 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-4 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-5 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-6 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-7 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-9 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-10 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-11 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-lg-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-1 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-2 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-3 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-4 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-5 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-6 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-7 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-9 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-10 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-11 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-md-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-1 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-2 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-3 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-4 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-5 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-6 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-7 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-9 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-10 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-11 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-sm-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-1 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-2 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-3 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-4 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-5 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-6 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-7 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-8 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-9 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-10 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-11 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-xl-12 {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
}

.col-auto {
      -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
  width: auto;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;

  td {
    border-top: 1px solid $whitesmoke_eceeef;
    padding: .75rem;
    vertical-align: top;
  }

  th {
    border-top: 1px solid $whitesmoke_eceeef;
    padding: .75rem;
    vertical-align: top;
  }

  thead {
    th {
      border-bottom: 2px solid $whitesmoke_eceeef;
      vertical-align: bottom;
    }
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: .5rem .75rem;
  font-size: 1rem;
  line-height: 1.25;
  color: $darkslategray_464a4c;
  background-color: $white_fff;
  background-image: none;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
          transition: border-color .15s ease-in-out,
                box-shadow .15s ease-in-out,
                -webkit-box-shadow .15s ease-in-out;
       -o-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &:focus {
    background-color: $white_fff;
    border-color: $deepskyblue_5cb3fd;
    color: $darkslategray_464a4c;
    outline: 0;
  }

  &:-webkit-input-placeholder {
    color: $dimgray_636c72;
    opacity: 1;
  }

  &:-moz-placeholder {
    color: $dimgray_636c72;
    opacity: 1;
  }

  &:-ms-input-placeholder {
    color: $dimgray_636c72;
    opacity: 1;
  }

  &:placeholder {
    color: $dimgray_636c72;
    opacity: 1;
  }

  &:disabled {
    background-color: $whitesmoke_eceeef;
    cursor: not-allowed;
    opacity: 1;
  }
}

.form-control[readonly] {
  background-color: $whitesmoke_eceeef;
  opacity: 1;
}

.form-group {
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

  &:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, .25);
            box-shadow: 0 0 0 2px rgba(2, 117, 216, .25);
    outline: 0;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }

  &:active {
    background-image: none;
  }
}

fieldset[disabled] {
  a {
    &.btn {
      pointer-events: none;
    }
  }
}

.btn-primary {
  color: $white_fff;
  background-color: $dodgerblue_0275d8;
  border-color: $dodgerblue_0275d8;

  &:hover {
    background-color: $darkslateblue_025aa5;
    border-color: $darkslateblue_01549b;
    color: $white_fff;
  }

  &:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, .5);
            box-shadow: 0 0 0 2px rgba(2, 117, 216, .5);
  }

  &:disabled {
    background-color: $dodgerblue_0275d8;
    border-color: $dodgerblue_0275d8;
  }

  &:active {
    background-color: $darkslateblue_025aa5;
    background-image: none;
    border-color: $darkslateblue_01549b;
    color: $white_fff;
  }
}

.show {
  >.btn-primary {
    &.dropdown-toggle {
      background-color: $darkslateblue_025aa5;
      background-image: none;
      border-color: $darkslateblue_01549b;
      color: $white_fff;
    }
  }

  >.btn-dark {
    &.dropdown-toggle {
      background-color: $black_1d2124;
      border-color: $black_171a1d;
      color: $white_fff;
    }
  }
}

.btn-dark {
  color: $white_fff;
  background-color: $darkslategray_343a40;
  border-color: $darkslategray_343a40;

  &:hover {
    background-color: $black_23272b;
    border-color: $black_1d2124;
    color: $white_fff;
  }

  &:focus {
    box-shadow: 0 0 0 .2rem rgba(52, 58, 64, .5);
  }

  &:disabled {
    background-color: $darkslategray_343a40;
    border-color: $darkslategray_343a40;
    color: $white_fff;
  }

  &:active {
    background-color: $black_1d2124;
    border-color: $black_171a1d;
    color: $white_fff;
  }
}

.btn-group-lg {
  >.btn {
    font-size: 1.25rem;
    padding: .75rem 1.5rem;
  }
}

.btn-lg {
  font-size: 1.25rem;
  padding: .75rem 1.5rem;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;

  &.show {
    opacity: 1;
  }
}

.collapse {
  display: none;

  &.show {
    display: block;
  }
}

.collapsing {
       -o-transition: height .35s ease;
  -webkit-transition: height .35s ease;
  height: 0;
  overflow: hidden;
  position: relative;
          transition: height .35s ease;
}

.dropdown {
  position: relative;
}

.dropup {
  position: relative;
}

.dropdown-toggle {
  &:after {
    border-left: .3em solid transparent;
    border-right: .3em solid transparent;
    border-top: .3em solid;
    content: "";
    display: inline-block;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    width: 0;
  }

  &:focus {
    outline: 0;
  }
}

.dropdown-menu {
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  background-color: $white_fff;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: .25rem;
  color: $black_292b2c;
  float: left;
  font-size: 1rem;
  left: 0;
  list-style: none;
  margin: .125rem 0 0;
  min-width: 10rem;
  padding: .5rem 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

.dropdown-item {
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: $black_292b2c;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;

  &:focus {
    background-color: $whitesmoke_f7f7f9;
    color: $black_1d1e1f;
    text-decoration: none;
  }

  &:hover {
    background-color: $whitesmoke_f7f7f9;
    color: $black_1d1e1f;
    text-decoration: none;
  }

  &.active {
    background-color: $dodgerblue_0275d8;
    color: $white_fff;
    text-decoration: none;
  }

  &:active {
    background-color: $dodgerblue_0275d8;
    color: $white_fff;
    text-decoration: none;
  }
}

.nav-link {
  display: block;
  padding: .5em 1em;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.navbar {
      -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  display: flex;
          flex-direction: column;
  padding: .5rem 1rem;
  position: relative;
}

.navbar-brand {
  display: inline-block;
  font-size: 1.25rem;
  line-height: inherit;
  margin-right: 1rem;
  padding-bottom: .25rem;
  padding-top: .25rem;
  white-space: nowrap;
}

.navbar-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar-toggler {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
          align-self: flex-start;
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
  }
}

.navbar-toggler-icon {
  -webkit-background-size: 100% 100%;
  background: no-repeat 50%;
          background-size: 100% 100%;
  content: "";
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
  width: 1.5em;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

@media (max-width: 991px) {
  .navbar-toggleable-md {
    .navbar-nav {
      .dropdown-menu {
        float: none;
        position: static;
      }
    }

    >.container {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.navbar-light {
  .navbar-brand {
    color: rgba(0, 0, 0, .9);

    &:focus {
      color: rgba(0, 0, 0, .9);
    }

    &:hover {
      color: rgba(0, 0, 0, .9);
    }
  }

  .navbar-toggler {
    color: rgba(0, 0, 0, .9);

    &:focus {
      color: rgba(0, 0, 0, .9);
    }

    &:hover {
      color: rgba(0, 0, 0, .9);
    }
    border-color: rgba(0, 0, 0, .1);
  }

  .navbar-nav {
    .nav-link {
      color: rgba(0, 0, 0, .5);

      &:focus {
        color: rgba(0, 0, 0, .7);
      }

      &:hover {
        color: rgba(0, 0, 0, .7);
      }
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, .5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
}

.card {
      -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  background-color: $white_fff;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .25rem;
  display: flex;
          flex-direction: column;
  position: relative;
}

.card-block {
      -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: .75rem;
}

.pagination {
  border-radius: .25rem;
  display: flex;
  list-style: none;
  padding-left: 0;
}

.alert {
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: $black_000;
  text-shadow: 0 1px 0 $white_fff;
  opacity: .5;

  &:focus {
    color: $black_000;
    cursor: pointer;
    opacity: .75;
    text-decoration: none;
  }

  &:hover {
    color: $black_000;
    cursor: pointer;
    opacity: .75;
    text-decoration: none;
  }
}

.model {
  overflow: hidden;
}

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  outline: 0;

  &.fade {
    .modal-dialog {
           -o-transform: translateY(-25%);
           -o-transition: -o-transform .3s ease-out;
      -webkit-transform: translateY(-25%);
      -webkit-transition: -webkit-transform .3s ease-out;
              transform: translateY(-25%);
              transition: transform .3s ease-out,
                        -webkit-transform .3s ease-out,
                        -o-transform .3s ease-out;
    }
  }
}

.modal-dialog {
  margin: 10px;
  position: relative;
  width: auto;
}

.modal-content {
      -ms-flex-direction: column;
  -webkit-background-clip: padding-box;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
          background-clip: padding-box;
  background-color: $white_fff;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  display: flex;
          flex-direction: column;
  outline: 0;
  position: relative;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: $black_000;

  &.fade {
    opacity: 0;
  }

  &.show {
    opacity: .5;
  }
}

.modal-header {
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          align-items: center;
  border-bottom: 1px solid $whitesmoke_eceeef;
  display: flex;
          justify-content: space-between;
  padding: 15px;
}

.modal-title {
  line-height: 1.5;
  margin-bottom: 0;
}

.modal-body {
      -ms-flex: 1 1 auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px;
  position: relative;
}

.modal-scrollbar-measure {
  height: 50px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
  width: 50px;
}

.clearfix {
  &:after {
    clear: both;
    content: "";
    display: block;
  }
}

.justify-content-center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
}

.mr-2 {
  margin-right: .5rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.p-0 {
  padding: 0;
}

.pt-3 {
  padding-top: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.pr-lg-3 {
  padding-right: 1rem;
}

.text-center {
  text-align: center;
}
