amp-lightbox {
  background-color: rgba(0, 0, 0, .6);
  z-index: 1050
}
.article-post h2:not(:first-child) {
  margin-top: 6rem
}
.article-post h3,
.article-post h4 {
  margin-top: 3rem
}
.article-post del {
  color: #999;
  text-decoration-color: #f05f70
}
.article-post del a {
  box-shadow: none;
  border-bottom: 1px solid #ddd;
  text-decoration: inherit
}
.article-post .anchor-link {
  box-shadow: none;
  color: #bf8f22;
  margin-left: -1.5rem;
  padding-right: .5rem;
  vertical-align: super;
}
.article-post .anchor-link:hover {
  box-shadow: none;
  color: #ffb100;
}
.article-post .box-highlight {
  box-shadow: 1px 2px 15px #675bff
}
.article-post figcaption {
  font-size: smaller
}
.article-post a > code {
  padding: 0.2rem 0.4rem;
  color: #bd4147;
  background-color: #f7f7f9;
  box-shadow: inset 0 -2px 0 #ffe51f, 0 2px 0 #ffe51f
}
.article-post a.footnote,
.article-post a.reversefootnote {
  box-shadow: none;
  background-color: #ffe51f
}
.shadow-none,
figure.shadow-none * {
  box-shadow: none
}
amp-img[aria-label=lightbox] {
  cursor: zoom-in
}
amp-image-lightbox img {
  object-fit: scale-down
}
amp-image-lightbox button:last-of-type {
  cursor: zoom-out;
  min-width: 100%;
  min-height: 100%
}
amp-image-viewer img {
  max-width: fit-content;
  transition: width 0.25s linear
}
.listfeaturedtag .card .thumbnail img {
  width: 500px;
  height: 258px;
  object-fit: cover
}
.listfeaturedtag .card-list {
  height: auto;
  width: 100%
}
.listfeaturedtag .card-list .thumbnail img {
  width: 500px;
  height: 150px;
  object-fit: cover
}
.listfeaturedtag .card-list h2.card-title {
  font-size: 1rem
}
.listfeaturedtag .card-list .wrapthumbnail {
  height: 150px
}
.thumbnail.fit-left img {
  object-position: left
}
.thumbnail.fit-right img {
  object-position: right
}
a.vglnk {
  border-bottom: 2px dashed gray;
  box-shadow: unset
}
.card .row {
  height: 100%
}
