body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  font-display: swap
}
.mainheading {
  padding: 0 0 1rem
}
a {
  color: #6fd350
}
a,
a:hover {
  transition: all 0.2s
}
pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.75em;
  border: #e3edf3 1px solid;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  white-space: pre;
  overflow: auto;
  background: #f7fafb;
  border-radius: 3px;
  line-height: 1.3;
  font-display: swap
}
.mediumnavigation {
  background: #fff;
  transition: top 0.5s ease-in-out;
  padding: 1.5rem 1rem;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .05)
}
.nav-up {
  box-shadow: none
}
.site-content {
  padding-top: 2rem;
  margin-top: 57px;
  transition: all 0.4s
}
section {
  margin-bottom: 20px
}
section.featured-posts {
  margin-bottom: 30px
}
section.recent-posts {
  margin-bottom: 0
}
.section-title h2 {
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 27px;
  position: relative
}
.section-title h2:before {
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  left: 15px;
  right: 0;
  top: 12px;
  height: 1px;
  content: "";
  background-color: #f5f5f5
}
.section-title span {
  background-color: #fff;
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 0 15px 0 0;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px
}
.layout-page .section-title span {
  font-size: 2rem;
  text-transform: none;
  letter-spacing: 0
}
.layout-page .section-title h2:before {
  top: 17px
}
.article-post ol,
.article-post ul {
  margin-bottom: 1.5rem
}
.prevnextlinks .thepostlink {
  padding: 20px 0;
  font-size: 17px;
  display: block;
  color: #111;
  font-weight: 500
}
.prevnextlinks {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-left: 0;
  margin-right: 0
}
.prevnextlinks .rightborder {
  border-right: 1px solid #eee
}
.navbar-toggleable-md .navbar-nav .nav-link.highlight {
  background: #6FD350;
  color: #fff;
  border-radius: 4px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  padding-left: 1em;
  padding-right: 1em
}
.navbar-toggler {
  z-index: 9999
}
.navbar-toggleable-md .navbar-nav .nav-link {
  color: #333;
  font-size: 0.94em;
  font-weight: 500;
  letter-spacing: 1px;
  margin-left: 0;
  margin-top: 10px;
  text-transform: uppercase;
}
.mediumnavigation .dropdown-menu {
  margin: 0 0 15px;
  box-shadow: none;
  border: 0
}
.card-columns .card {
  margin-bottom: 20px
}
.listfeaturedtag .wrapmeta,
.listfeaturedtag .wrapthumbnail {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding: 0 15px;
  max-width: 100%;
  -webkit-box-flex: 0;
  -webkit-flex: 100%;
  -ms-flex: 100%;
  flex: 100%
}
.listfeaturedtag .wrapmeta {
  padding: 0;
}
.listfeaturedtag .wrapthumbnail {
  height: 250px;
}
.listfeaturedtag .card {
  border: 0;
  border-radius: 2px;
  height: calc(100% - 15px);
  padding-left: 0;
  margin-bottom: 15px;
  box-shadow: 1px 2px 14px 0 rgba(0, 0, 0, .2);
}
.listfeaturedtag .card-block {
  padding: 20px 20px 50px;
}
.listfeaturedtag .thumbnail {
  background-size: cover;
  height: 100%;
  display: block;
  background-position: 38% 22%;
  background-origin: border-box;
  border-top-left-radius: 2px
}
.listfeaturedtag h2.card-title,
.listrecent h2.card-title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.25
}
.listfeaturedtag h2.card-title a,
.listrecent h2.card-title a {
  color: #111;
  font-weight: 500
}
.listfeaturedtag h2.card-title a:hover,
.listrecent h2.card-title a:hover {
  color: rgba(0, 0, 0, .6);
  text-decoration: none
}
.listfeaturedtag h4.card-text,
.listrecent h4.card-text {
  color: #666;
  font-size: 0.95rem;
  line-height: 1.8;
  font-weight: 400
}
.listfeaturedtag .wrapfooter {
  position: absolute;
  font-size: 12px;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  bottom: -15px;
  margin: auto;
  padding: 0 20px;
}
.listrecent {
  width: 100%;
}
.listrecent .wrapfooter {
  font-size: 12px;
  margin-top: 30px
}
.author-thumb {
  width: 40px;
  height: 40px;
  float: left;
  margin-right: 13px;
  border-radius: 100%
}
.post-top-meta {
  margin-bottom: 1rem;
  margin-top: 3rem
}
.post-top-meta span {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, .44);
  display: inline-block;
}
.post-top-meta .author-thumb {
  width: 72px;
  height: 72px
}
.post-top-meta.authorpage .author-thumb {
  margin-top: 40px
}
.post-top-meta .author-description {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 0.95rem
}
.author-meta {
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}
div.post-date,
span.author-meta,
span.post-name {
  display: inline-block
}
div.post-date,
span.post-read {
  color: rgba(0, 0, 0, .44);
  margin: 7px 0
}
span.post-read-more a {
  color: rgba(0, 0, 0, .44);
  align-items: center;
  float: right;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #d0d0d0;
  border-radius: 50%
}
span.post-name a,
span.post-read-more a:hover {
  color: rgba(0, 0, 0, .8)
}
.dot::after {
  content: "\00b7";
  margin-left: 3px;
  margin-right: 3px
}
.mainheading h1.sitetitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-display: swap;
}
.mainheading h1.posttitle {
  font-weight: 700;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.intro {
  background-image: url( "https://chriskyfung.github.io/amp-affiliately-jekyll-theme/assets/images/head.svg" );
  background-size: contain;
  margin-top: -87px;
  margin-bottom: 3.5rem;
  padding: 3rem 0;
  position: relative;
  z-index: 1;
}
.intro .btn {
  background: #fff100;
  border: 0;
  color: #333;
  border-radius: 3px;
  font-weight: 500;
  padding: 15px 40px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px
}
.intro h1 {
  font-weight: 700
}
.intro h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #888;
  line-height: 1.6
}
.wrapintro {
  background: rgba(211, 201, 255, .871);
  max-width: 90%;
  width: 700px;
  margin: 0 auto;
  padding: 2rem 1rem;
  text-align: center;
}
.article-post,
.link-dark {
  color: rgba(0, 0, 0, .8)
}
.article-post {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  line-height: 1.8
}
.article-post a {
  color: inherit;
  text-decoration: none;
  box-shadow: inset 0 -2px 0 #ffe51f, 0 2px 0 #ffe51f
}
.article-post a:hover {
  box-shadow: inset 0 -30px 0 #ffe51f, 0 2px 0 #ffe51f;
  text-decoration: none
}
blockquote {
  border-left: 4px solid #6FD350;
  padding: 0 20px;
  font-style: italic;
  color: rgba(0, 0, 0, .5)
}
.article-post blockquote,
.article-post p {
  margin: 0 0 1.5rem
}
.featured-image {
  display: block;
  margin-bottom: 2rem;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1)
}
.featured-image[fallback] {
  margin-bottom: 0
}
.article-post amp-img,
.article-post amp-iframe {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1)
}
.article-post p iframe {
  margin-bottom: 0.5rem
}
.share {
  text-align: center
}
.share p {
  margin-bottom: 10px;
  font-size: 0.95rem
}
.share {
  display: none
}
.share ul li {
  display: inline-block;
  margin-bottom: 9px
}
.share ul {
  padding-left: 0;
  margin-left: 0
}
.share ul li i.fa {
  border: 1px solid #ddd;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%
}
.svgIcon {
  vertical-align: middle
}
.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw
}
.share,
.share a {
  color: rgba(0, 0, 0, .44);
  fill: rgba(0, 0, 0, .44)
}
.graybg {
  background-color: #fafafa;
  padding: 40px 0 46px;
  position: relative
}
.listrecent .card {
  border-radius: 4px;
  margin-bottom: 30px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, .14);
  border: 0
}
.card .img-thumb {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px
}
.margtop3rem {
  margin-top: 3rem
}
.sep {
  height: 1px;
  width: 20px;
  background: #999;
  margin: 0 auto 1.2rem
}
.btn {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  font-weight: 500;
  font-size: 15px;
  border-radius: 0.3rem;
  cursor: pointer
}
.btn,
a.btn {
  color: #fff
}
.btn-group-lg > .btn,
.btn-lg {
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  font-size: 15px
}
.btn-primary {
  background-color: #675bff;
  border-color: #675bff
}
.btn.follow {
  border-color: #6fd350;
  color: #6fd350;
  padding: 3px 10px;
  text-align: center;
  border-radius: 999em;
  font-size: 0.85rem;
  display: inline-block;
  box-shadow: none;
  font-weight: 400
}
.btn.subscribe {
  background-color: #1c9963;
  border-color: #1c9963;
  color: #fff;
  fill: #fff;
  border-radius: 30px;
  font-size: 0.85rem;
  margin-left: 10px;
  font-weight: 600;
  text-transform: uppercase
}
.post-top-meta .btn.follow {
  margin-left: 5px;
  margin-top: -4px
}
.alertbar {
  box-shadow: 0 -3px 10px 0 rgba(0, 0, 0, .0785);
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  padding: 14px 0;
  z-index: 1;
  display: none
}
.alertbar form {
  display: inline-block
}
.alertbar input[type=email] {
  font-size: 0.85rem;
  padding: 3px 5px 3px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #ddd;
  border-right: 0;
  margin-right: -10px;
  height: 34px;
  letter-spacing: 0.5px;
  margin-left: 5px
}
.alertbar input[type=submit] {
  background-color: #1c9963;
  border: 1px solid #1c9963;
  color: #fff;
  fill: #fff;
  font-size: 0.85rem;
  border-radius: 0;
  padding: 4px 10px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  font-weight: 600;
  height: 34px;
  letter-spacing: 0.5px;
  cursor: pointer
}
.form-control::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .5)
}
.form-control::-moz-placeholder {
  color: rgba(0, 0, 0, .5)
}
.form-control:-ms-input-placeholder {
  color: rgba(0, 0, 0, .5)
}
.form-control::-ms-input-placeholder {
  color: rgba(0, 0, 0, .5)
}
.form-control {
  border: 1px solid #eee;
  border-radius: 0
}
.authorpage h1 {
  font-weight: 700;
  font-size: 30px
}
.post-top-meta.authorpage .author-thumb {
  float: none
}
.authorpage .author-description {
  font-size: 1rem;
  color: rgba(0, 0, 0, .6)
}
.post-top-meta.authorpage {
  text-align: center;
}
.post-top-meta.authorpage .btn.follow {
  padding: 7px 20px;
  margin-top: 10px;
  margin-left: 0;
  font-size: 0.9rem
}
.graybg.authorpage {
  border-top: 1px solid #f0f0f0
}
.authorpostbox {
  width: 760px;
  margin: 0 auto 1.5rem;
  max-width: 100%
}
.authorpostbox .img-thumb {
  width: 100%
}
.sociallinks {
  margin: 1rem 0
}
.sociallinks a {
  background: #666;
  color: #fff;
  width: 22px;
  height: 22px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  font-size: 12px
}
#comments {
  margin-top: 3rem;
  margin-bottom: 1.5rem
}
#mc_embed_signup .mc-field-group input {
  text-indent: 5%
}
#mc_embed_signup {
  font-family: inherit
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 500;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.article-post h1,
.article-post h2,
.article-post h3,
.article-post h4,
.article-post h5,
.article-post h6 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.article-post img.shadow {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3)
}
img {
  max-width: 100%;
  height: auto
}
.bottompagination span.navigation a {
  background: #fff100;
  color: #333;
  padding: 5px;
  border-radius: 3px;
  text-transform: none;
  font-weight: 500;
  letter-spacing: 0;
  min-width: 100px;
  display: inline-block
}
.pointerup {
  margin-bottom: -18px;
  margin-left: 49%;
  font-size: 30px
}
.pointerup i.fa {
  color: #eaeaea
}
.bottompagination span.navigation i {
  display: inline-block
}
span.navigation {
  display: block;
  font-size: 0.93rem;
  font-weight: 700;
  text-align: center;
  position: relative
}
span.navigation:before {
  margin-bottom: 0;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 12px;
  height: 1px;
  content: "";
  background-color: #eee
}
.pagination {
  display: inline-block;
  background: #fff;
  z-index: 1;
  position: relative;
  padding: 0 20px;
  font-size: 13px;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-transform: uppercase
}
iframe {
  max-width: 100%
}