.bmc-button img {
  height: 34px;
  width: 35px;
  margin-bottom: 1px;
  box-shadow: none;
  border: none;
  vertical-align: middle
}
.bmc-button {
  line-height: 35px;
  height: 51px;
  display: inline-flex;
  background-color: #ff813f;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 7px 15px 7px 10px;
  font-size: 28px;
  letter-spacing: 0.6px;
  box-shadow: 0 1px 2px hsla(0, 0%, 75%, 0.5);
  margin: 0 auto;
  font-family: Cookie, cursive;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.bmc-button,
.bmc-button:active,
.bmc-button:focus,
.bmc-button:hover {
  text-decoration: none;
  color: #fff;
  -webkit-box-shadow: 0 1px 2px 2px hsla(0, 0%, 75%, 0.5)
}
.bmc-button:active,
.bmc-button:focus,
.bmc-button:hover {
  box-shadow: 0 1px 2px 2px hsla(0, 0%, 75%, 0.5);
  opacity: .85
}
