$gold_ffc92f: #ffc92f;
$white_fff: #ffffff;

.navbar-nav {
  .invitation-codes {
    a {
      background: linear-gradient(139deg, $gold_ffc92f, #ff185c, #f316d5, #b81ed2);
      border-radius: 5px;
      color: $white_fff;
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
      font-weight: 700;
      height: 36px;
      padding: 0 10px;
    }

    svg {
      display: inline;
      float: left;
      height: 28px;
      margin-left: 4.5px;
      margin-right: 4.5px;
      padding-top: 7px;
      vertical-align: middle;
    }

    span {
      float: left;
      line-height: 34px;
      padding: 0 12px;
      vertical-align: middle;
    }
  }
}
