.article-post .anchor-link {
  visibility: hidden;
  box-shadow: none;
  color: goldenrod;
  font-size: 1rem;
  margin-left: .5rem;
  vertical-align: super;
}
.article-post .anchor-link:hover {
  box-shadow: none;
}
.article-post *:hover > .anchor-link,
.anchor-link:focus {
  visibility: visible;
}