$darkgray_999: #999999;
$darkgray_b4b4b4: #b4b4b4;
$gainsboro_ddd: #dddddd;
$gold_ffe51f: #ffe51f;
$indianred_bd4147: #bd4147;
$indianred_f05f70: #f05f70;
$mediumslateblue_675bff: #675bff;
$whitesmoke_eee: #eeeeee;
$whitesmoke_f7f7f9: #f7f7f9;

amp-img[aria-label=lightbox] {
  cursor: zoom-in;
}

amp-image-lightbox {
  img {
    object-fit: scale-down;
  }

  button {
    &:last-of-type {
      cursor: zoom-out;
      min-height: 100%;
      min-width: 100%;
    }
  }
}

amp-image-viewer {
  img {
    max-width: fit-content;
    transition: width .25s linear;
  }
}

amp-lightbox {
  background-color: rgba(0, 0, 0, .6);
  z-index: 1050;
}

a {
  &.vglnk {
    border-bottom: 2px dashed gray;
    box-shadow: unset;
  }
}

figure {
  &.shadow-none {
    * {
      box-shadow: none;
    }
  }
}

.shadow-none {
  box-shadow: none;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.48rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.25rem;
}

kbd {
  background-color: $whitesmoke_eee;
  border: 1px solid $darkgray_b4b4b4;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  display: inline-block;
  font-size: .85em;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

.article-post {
  h2 {
    &:not(:first-of-type) {
      margin-top: 5rem;
    }
  }

  del {
    color: $darkgray_999;
    text-decoration-color: $indianred_f05f70;

    a {
      border-bottom: 1px solid $gainsboro_ddd;
      box-shadow: none;
      text-decoration: inherit;
    }
  }

  .box-highlight {
    box-shadow: 1px 2px 15px $mediumslateblue_675bff;
  }

  figcaption {
    font-size: smaller;
  }

  a {
    >code {
      background-color: $whitesmoke_f7f7f9;
      box-shadow: inset 0 -2px 0 $gold_ffe51f, 0 2px 0 #ffe51f;
      color: $indianred_bd4147;
      padding: .2rem .4rem;
    }

    &.citation {
      background-color: $gold_ffe51f;
      box-shadow: none;
    }

    &.footnote {
      background-color: $gold_ffe51f;
      box-shadow: none;
    }

    &.reversefootnote {
      background-color: $gold_ffe51f;
      box-shadow: none;
    }
  }
}

.card {
  .row {
    height: 100%;
  }

  >a {
    height: 100%;
  }
}

.container {
  max-width: 100%;
  width: 96%;
}

.inline-fix {
  +* {
    display: inline;

    +.badge {
      vertical-align: text-top;
    }
  }
}

.listfeaturedtag {
  .card {
    .thumbnail {
      img {
        height: 258px;
        width: 500px;
      }
    }
  }

  .card-list {
    width: 100%;

    .thumbnail {
      img {
        height: 150px;
        object-fit: cover;
        width: 500px;
      }
    }

    h2 {
      &.card-title {
        font-size: 1rem;
      }
    }

    .wrapthumbnail {
      height: 150px;
    }
  }
}

.mono {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.thumbnail {
  &.fit-left {
    img {
      object-position: left;
    }
  }

  &.fit-right {
    img {
      object-position: right;
    }
  }
}
