.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#toggle-search {
    margin-left: 15px;
    margin-top: inherit
}

#searchbox {
    display: inline;
    width: calc(100% - 86px);
}

amp-lightbox {
    background-color: #0009;
    z-index: 1050;
}

.navbar-nav .invitation-codes {
    margin-left: 15px;
    margin-top: inherit
}

.navbar-nav .invitation-codes a {
    background: linear-gradient(139deg, #ffc92f, #ff185c, #f316d5, #b81ed2);
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    display: inline-block;
    padding: 0 10px;
    height: 36px;
    display: inline-block
}

.navbar-nav .invitation-codes svg {
    float: left;
    vertical-align: middle;
    display: inline;
    margin-right: 7px;
    margin-left: 1px;
    padding-top: 6px;
    height: 20px;
    padding-top: 7px;
    height: 28px
}

.navbar-nav .invitation-codes span {
    padding: 0 12px;
    vertical-align: middle;
    float: left;
    line-height: 34px
}

@media (max-width:991px) {
    #toggle-search {
        margin-left: inherit;
        margin-top: 15px
    }

    .navbar-nav .invitation-codes {
        margin-left: inherit;
        margin-top: 15px
    }
}

#footer-image {
    background: #e9e4ff;
    display: block;
    border-radius: 60% 70% 500% 70%
}

.featured-image.shadow-none {
    box-shadow: none
}

.article-post h2:not(:first-child) {
    margin-top: 6rem
}

.article-post h3,
.article-post h4 {
    margin-top: 3rem
}

.article-post del {
    color: #999;
    text-decoration-color: #f05f70
}

.article-post del a {
    box-shadow: none;
    border-bottom: 1px solid #ddd;
    text-decoration: inherit
}

.article-post figure.shadow-none amp-img {
    box-shadow: none
}

.article-post .box-highlight {
    box-shadow: 1px 2px 15px #675bff;
}

.article-post figcaption {
    font-size: smaller;
}

.article-post a>code {
    padding: .2rem .4rem;
    color: #bd4147;
    background-color: #f7f7f9;
    box-shadow: inset 0 -2px 0 #ffe51f, 0 2px 0 #ffe51f
}

.article-post a.footnote, .article-post a.reversefootnote {
    box-shadow: none;
    background-color: #ffe51f
}

ul.tags.rounded-tags li a {
    background: transparent;
    border: 1px solid;
    border-radius: 20px
}

ul.tags.rounded-tags code a {
    box-shadow: inherit
}

.listfeaturedtag .card .thumbnail img {
    width: 500px;
    height: 258px;
    object-fit: cover
}

.listfeaturedtag .card-list {
    height: auto;
    width: 100%
}

.listfeaturedtag .card-list .thumbnail img {
    width: 500px;
    height: 150px;
    object-fit: cover
}

.listfeaturedtag .card-list h2.card-title {
    font-size: 1rem
}

.listfeaturedtag .card-list .wrapthumbnail {
    height: 150px
}

.thumbnail.fit-left img {
    object-position: left
}

.thumbnail.fit-right img {
    object-position: right
}

.bmc-button img {
    height: 34px;
    width: 35px;
    margin-bottom: 1px;
    box-shadow: none;
    border: none;
    vertical-align: middle
}

.bmc-button {
    padding: 7px 15px 7px 10px;
    line-height: 35px;
    height: 51px;
    text-decoration: none;
    display: inline-flex;
    color: #ffffff;
    background-color: #FF813F;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 7px 15px 7px 10px;
    font-size: 28px;
    letter-spacing: .6px;
    box-shadow: 0 1px 2px rgba(190, 190, 190, .5);
    -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, .5);
    margin: 0 auto;
    font-family: 'Cookie', cursive;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.bmc-button:hover,
.bmc-button:active,
.bmc-button:focus {
    -webkit-box-shadow: 0 1px 2px 2px rgba(190, 190, 190, .5);
    text-decoration: none;
    box-shadow: 0 1px 2px 2px rgba(190, 190, 190, .5);
    opacity: .85;
    color: #ffffff
}

a.vglnk {
    border-bottom: 2px dashed gray;
    box-shadow: unset
}

.card .row {
    height: 100%;
}

amp-ad {
    background-image: url(https://icon-library.com/images/b8d82a619c.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.footer>amp-ad {
    max-width: 1140px;
    margin: auto auto;
}
