.highlight pre {
  background-color: #333;
  color: #fff;
  white-space: pre-wrap
}
.highlight .hll {
  background-color: #333333
}
.highlight .c {
  color: #008800;
  font-style: italic;
  background-color: #0f140f
}
.highlight .err {
  color: #ffffff
}
.highlight .g {
  color: #ffffff
}
.highlight .k {
  color: #fb660a;
  font-weight: bold
}
.highlight .l {
  color: #ffffff
}
.highlight .n {
  color: #ffffff
}
.highlight .o {
  color: #ffffff
}
.highlight .x {
  color: #ffffff
}
.highlight .p {
  color: #ffffff
}
.highlight .cm {
  color: #008800;
  font-style: italic;
  background-color: #0f140f
}
.highlight .cp {
  color: #ff0007;
  font-weight: bold;
  font-style: italic;
  background-color: #0f140f
}
.highlight .c1 {
  color: #008800;
  font-style: italic;
  background-color: #0f140f
}
.highlight .cs {
  color: #008800;
  font-style: italic;
  background-color: #0f140f
}
.highlight .gd {
  color: #ffffff
}
.highlight .ge {
  color: #ffffff
}
.highlight .gr {
  color: #ffffff
}
.highlight .gh {
  color: #ffffff;
  font-weight: bold
}
.highlight .gi {
  color: #ffffff
}
.highlight .go {
  color: #444444;
  background-color: #222222
}
.highlight .gp {
  color: #ffffff
}
.highlight .gs {
  color: #ffffff
}
.highlight .gu {
  color: #ffffff;
  font-weight: bold
}
.highlight .gt {
  color: #ffffff
}
.highlight .kc {
  color: #fb660a;
  font-weight: bold
}
.highlight .kd {
  color: #fb660a;
  font-weight: bold
}
.highlight .kn {
  color: #fb660a;
  font-weight: bold
}
.highlight .kp {
  color: #fb660a
}
.highlight .kr {
  color: #fb660a;
  font-weight: bold
}
.highlight .kt {
  color: #cdcaa9;
  font-weight: bold
}
.highlight .ld {
  color: #ffffff
}
.highlight .m {
  color: #0086f7;
  font-weight: bold
}
.highlight .s {
  color: #0086d2
}
.highlight .na {
  color: #ff0086;
  font-weight: bold
}
.highlight .nb {
  color: #ffffff
}
.highlight .nc {
  color: #ffffff
}
.highlight .no {
  color: #0086d2
}
.highlight .nd {
  color: #ffffff
}
.highlight .ni {
  color: #ffffff
}
.highlight .ne {
  color: #ffffff
}
.highlight .nf {
  color: #ff0086;
  font-weight: bold
}
.highlight .nl {
  color: #ffffff
}
.highlight .nn {
  color: #ffffff
}
.highlight .nx {
  color: #ffffff
}
.highlight .py {
  color: #ffffff
}
.highlight .nt {
  color: #fb660a;
  font-weight: bold
}
.highlight .nv {
  color: #fb660a
}
.highlight .ow {
  color: #ffffff
}
.highlight .w {
  color: #888888
}
.highlight .mf {
  color: #0086f7;
  font-weight: bold
}
.highlight .mh {
  color: #0086f7;
  font-weight: bold
}
.highlight .mi {
  color: #0086f7;
  font-weight: bold
}
.highlight .mo {
  color: #0086f7;
  font-weight: bold
}
.highlight .sb {
  color: #0086d2
}
.highlight .sc {
  color: #0086d2
}
.highlight .sd {
  color: #0086d2
}
.highlight .s2 {
  color: #0086d2
}
.highlight .se {
  color: #0086d2
}
.highlight .sh {
  color: #0086d2
}
.highlight .si {
  color: #0086d2
}
.highlight .sx {
  color: #0086d2
}
.highlight .sr {
  color: #0086d2
}
.highlight .s1 {
  color: #0086d2
}
.highlight .ss {
  color: #0086d2
}
.highlight .bp {
  color: #ffffff
}
.highlight .vc {
  color: #fb660a
}
.highlight .vg {
  color: #fb660a
}
.highlight .vi {
  color: #fb660a
}
.highlight .il {
  color: #0086f7;
  font-weight: bold
}
.rouge-table pre {
  border: none;
  margin: 0;
}