@media(max-width:1199px) {
  .container {
    width: 96%;
    max-width: 100%
  }
}
@media(max-width:1024px) {
  .post-top-meta .col-md-10 {
    text-align: center
  }
}
@media(max-width:999px) {
  .listfeaturedtag .col-md-7,
  .listfeaturedtag .wrapthumbnail {
    width: 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%
  }
  .listfeaturedtag .wrapthumbnail {
    height: 250px
  }
  .listfeaturedtag .card {
    height: calc(100% - 15px)
  }
  .listfeaturedtag .wrapfooter {
    right: 0;
    left: 0;
    margin: auto;
  }
  .listfeaturedtag .card-block {
    padding: 20px 20px 50px
  }
}
@media(min-width:992px) {
  .mediumnavigation .dropdown-menu {
    border: 0;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, .1)
  }
}
@media(max-width:991px) {
  .intro {
    padding: 3rem 0
  }
  .wrapintro {
    padding: 2rem 1rem
  }
  .intro h2 {
    margin-top: 1rem;
    margin-bottom: 1rem
  }
  .navbar-toggleable-md .navbar-nav .nav-link {
    margin-left: 0;
    margin-top: 10px
  }
  #toggle-search,
  .navbar-nav .invitation-codes {
    margin-left: inherit;
    margin-top: 15px
  }
}
@media(max-width:767px) {
  .post-top-meta.authorpage {
    text-align: center
  }
}
@media(min-width:576px) {
  .card-columns.listfeaturedtag {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2
  }
}
@media(max-width:575px) {
  .footer {
    text-align: center
  }
  .footer-widget {
    margin-bottom: 1rem;
    margin-top: 1rem
  }
  .left-sidebar {
    order: 2
  }
  .sidebar {
    max-width: 100%
  }
  .copyright .pull-left,
  .copyright .pull-right {
    float: none
  }
  .beforefooter {
    text-align: center
  }
  .beforefooter .footersocial {
    text-align: center;
    margin-top: 1rem
  }
  .form-group .col-md-6:first-child {
    margin-bottom: 1rem
  }
}
