{%- assign dropdown_id = "local-dropdown" -%}
<li class="nav-item dropdown" id="{{ dropdown_id }}">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" tabindex="0">
    <i class="fas fa-tags"></i> <span class="sr-only">Tags</span>
  </a>
  <div class="dropdown-menu" aria-labelledby="{{ dropdown_id }}">
    {% if site.tags.size > 10 %}
    <div class="dropdown-filter">
      <label>
        <input type="text" on="input-throttled:AMP.setState({ dropdownfilter: event.value })" style="border-color: #675bff; border-radius: 3px; margin: 0 .3em;" aria-label="tag filter">
        <i class="fas fa-filter" style="color: #675bff; margin-left: -1.75em; padding-right: .25em;" aria-hidden="true"></i>
      </label>
    </div>
    {% endif %}
    {%- assign sorted_tags = site.tags | sort -%}
    {%- for tag in sorted_tags -%}
    <div>
      <a class="dropdown-item" href="{{ tag[0] | slugify | prepend: "tag/" | relative_url }}/" [hidden]="'{{ tag[0] }}'.indexOf(dropdownfilter)==-1">{{ tag[0] }}</a>
    </div>
    {%- endfor -%}
  </div>
</li>