{%- assign dropdown_id = "local-dropdown" -%}
<li class="nav-item dropdown" id="{{ dropdown_id }}">
  <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false" role="button" title="Tags"><i class="fas fa-tags"></i></a>
  <div class="dropdown-menu" aria-labelledby="{{ dropdown_id }}">
    {% if site.tags.size > 10 %}
    <div class="dropdown-filter">
        <label style="color: #675bff; position: absolute; right: 0; padding: .2em .7em;"><i class='fas fa-filter'></i></label>
        <input type="text" on="input-throttled:AMP.setState({ dropdownfilter: event.value })" style="border-color: #675bff; margin: 0 .3em;">
    </div>
    {% endif %}
    {%- assign sorted_tags = site.tags | sort -%}
    {%- for tag in sorted_tags -%}
    <div>
      <a class="dropdown-item" href="{{ tag[0] | slugify | prepend: "tag/" | relative_url }}/" [hidden]="'{{ tag[0] }}'.indexOf(dropdownfilter)==-1">{{ tag[0] }}</a>
    </div>
    {%- endfor -%}
  </div>
</li>