{%- comment -%}
  File: local-menu.html (tag-dropdown.html)
  Description: This file contains the HTML structure for a tag dropdown menu with a filter functionality.
               The dropdown displays a list of tags, which can be filtered using a text input. The
               filtering is powered by AMP state management. The dropdown is only displayed if there
               are more than 10 tags.

  Features:
  - Dropdown Menu: Displays a list of tags in a dropdown format, allowing users to navigate to tag-specific pages.
  - Tag Filtering: Includes a filter input that dynamically updates the list of tags based on user input.
  - AMP Integration: Utilizes AMP's state management to handle dropdown expansion and tag filtering without full page reloads.
  - Accessibility: Ensures accessibility with ARIA attributes and keyboard navigation support.

  Key Components:
  - `tag-dropdown`: The main container for the dropdown menu.
  - `tags-submenu`: The submenu that contains the list of tags.
  - `tagfilterState`: AMP state used to manage the filter input value.
  - Liquid Logic: Uses Liquid to sort and display tags dynamically based on the site's tag collection.

  Usage:
  - Include this file in pages where a tag navigation feature is required.
  - Ensure that the site has a collection of tags available for rendering.

  Notes:
  - The dropdown is only displayed if the site has more than 10 tags.
  - The filter input is styled for consistency with the site's design theme.

  Author: Chris K.Y. FUNG (https://chriskyfung.github.io/)
  Date: 2021-10-10
{%- endcomment -%}

<li id="tag-dropdown" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-controls="tags-submenu" aria-haspopup="true"
    [aria-expanded]="tagsDropdownExpanded ? 'true' : 'false'" tabindex="0"
    on="tap:AMP.setState({tagsDropdownExpanded: !tagsDropdownExpanded}),tag-filter.focus">
    <i class="fas fa-tags" aria-hidden="true"></i> <span class="sr-only">Tags</span>
  </a>
  <div id="tags-submenu" class="dropdown-menu scrollbar-thin" aria-labelledby="tag-dropdown" [hidden]="!tagsDropdownExpanded">
    {% if site.tags.size > 10 %}
    <div class="dropdown-filter">
      <amp-state id="tagfilterState">
        <script type="application/json">
          {
            "value": ""
          }
        </script>
      </amp-state>
      <label>
        <small style="color: #675bff;margin-left: .3rem;">
        <i class="fas fa-filter fa-sm" aria-hidden="true"></i>
        Tag Filter
      </small>
        <input id="tag-filter" type="text" on="input-throttled:AMP.setState({ tagfilterState:{ value: event.value }})" placeholder="Find..." aria-label="Filter tags" style="border-color: #675bff; border-radius: 3px; margin: 0 .3em;">
      </label>
    </div>
    {% endif %}
    <ul role="menu" style="list-style: none; padding-left: 0;">
      {%- assign sorted_tags = site.tags | sort -%}
      {%- for tag in sorted_tags -%}
      <li>
        <a class="dropdown-item" href="{{ tag[0] | slugify | prepend: "tag/" | relative_url }}/" [hidden]="'{{ tag[0] }}'.indexOf(tagfilterState.value)==-1">{{ tag[0] }}</a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</li>
