<ul class="navbar-nav ml-auto">

  {%- if site.repository and site.pages.size > 1 -%}
  {%- if page.url == '/' -%}
    {%- assign icon = '' -%}
  {%- else -%}
    {%- assign icon = ' <i class="fas fa-level-up-alt"></i>' -%}
  {%- endif -%}
  {%- assign maxLength = site.nav.local.title.limit | default: 30 -%}
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title | truncate: maxLength }}{{ icon }}</a>
  </li>
  {%- for item in site.nav.local.items -%}
  <li class="nav-item">
    <a class="nav-link" href="{{ site.baseurl }}/{{ item.url }}">{{ item.name }}</a>
  </li>
  {%- endfor -%}
  {%- if site.nav.local.menu -%}
  {% include main-nav/local-menu.html %}
  {%- endif -%}
  {%- endif -%}


  {%- unless site.nav.global.home == false %}
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  {%- endunless -%}
  
  {%- unless site.nav.global.dropdown == false %}
  {% include main-nav/global-dropdown.html %}
  {%- endunless -%}

  
  {%- unless site.repository -%}  
  <li class="nav-item">
    <a class="nav-link" href="/category/cloud/">Cloud</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/category/academic/">Academic</a>
  </li>
  {%- endunless -%}

  {% include main-nav/invitation-codes.html %}


  <li class="nav-item">
    <button type="button" on="tap:amp-searchbar" id="toggle-search" class="btn btn-primary"
      data-toggle="modal" data-target="#searchbar" role="search"><i class="fas fa-search"></i></button>
  </li>
</ul>