<ul class="navbar-nav ml-auto">

  {%- assign home_position = site.nav.global.home.location | default: "menu-start" -%}

  {%- capture link_to_home -%}
  <li class="nav-item">
    <a class="nav-link" href="/">{{ site.home.text | default: "Home" }}</a>
  </li>
  {%- endcapture -%}

  {%- if site.nav.global.home != false and home_position == "menu-start" %}
  {{ link_to_home }}
  {%- endif -%}

  {%- if site.baseurl != "" and site.baseurl != "/" and site.pages.size > 1 -%}
  {%- for item in site.nav.local.items -%}
  <li class="nav-item">
    <a class="nav-link" href="{{ item.url | relative_url }}">{{ item.name }}</a>
  </li>
  {%- endfor -%}
  {%- if site.nav.local.menu -%}
  {% include main-nav/local-menu.html %}
  {%- endif -%}
  {%- endif -%}
  
  {%- if site.nav.global.menu == true -%}
  {% include main-nav/global-menu.html %}
  {%- endif -%}

  {%- if site.nav.global.home != false and home_position == "menu-end" %}
  {{ link_to_home }}
  {%- endif -%}
  
  <div class="row ml-auto">
    {%- unless site.invitation_codes == false -%}
    <li class="nav-item">
      {% include main-nav/invitation-codes.html %}
    </li>
    {%- endunless -%}

    {%- if site.github.is_project_page -%}
    <li class="nav-item">
      <a class="btn btn-dark" href="{{ site.github.repository_url }}" title="Open {{ site.github.repository_nwo }} on GitHub" rel="noopener noreferrer" target="_blank"><i class="fab fa-github"></i></a>
    </li>
    {%- endif -%}
    
    <li class="nav-item">
      <button type="button" on="tap:amp-searchbar" id="toggle-search" class="btn btn-primary"
        data-toggle="modal" data-target="#searchbar" role="search" title="search" accesskey="/">
        <i class="fas fa-search"></i>
      </button>
    </li>

  </div>
</ul>