<div class="sidebar-section">
  <h5><span aria-label="related sites">Related Sites</span></h5>
  <a href="https://craftweeks.com/en/" rel="noopener" target="_blank">
    {% include picture.html img="craftweeks-logo-with-black-title-transparent-bg-200x67.png" width="200" height="67" alt="Craftweeks logo" source="assets" lightbox=false %}
  </a>
  <h6><span>Recommended 📬</span></h6>
  <ul>
    <li>
      <a href="https://craftweeks.com/en/tag/postman/" rel="noopener" target="_blank">
        {% include picture.html img="postman-tutorials-disqus-rest-api.thumb.jpg" width="267" height="150" alt="Postman Tutorials: Case Study of Disqus REST API" source="assets" %}
        <strong>Postman Tutorials: Case Study of Disqus API</strong>
      </a>
    </li>
  </ul>
</div>