<div class="sidebar-section">
  <h5><span aria-label="video feed"><i class='fab fa-youtube' style="color:red"></i> YouTube</span></h5>
  <h6><span>Featured Video 📹</span></h6>
  <ul>
    <li>{% include youtube-thumb.html id="5UrQ9D-epG8" title='GSP315 Perform Foundational Infrastructure Tasks in Google Cloud: Challenge Lab' %}</li>
  </ul>
  <amp-iframe width="240" height="100" sandbox="allow-scripts allow-same-origin" layout="intrinsic"
    frameborder="0" src="https://chriskyfung.gitlab.io/youtube_subscribe_button/youtube_subscribe_button.html">
    <div fallback>Fail to load script</div>
  </amp-iframe>
</div>