<!DOCTYPE html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <meta name="viewport" content="width=device-width">
    {% seo %}
    <link as="script" href="https://cdn.ampproject.org/v0.js" rel="preload">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    {%- if site.adsense.client_id and site.adsense.auto_ads != false -%}
    <script async custom-element="amp-auto-ads" src="https://cdn.ampproject.org/v0/amp-auto-ads-0.1.js"></script>
    {%- endif -%}
    {%- if site.adsense.client_id -%}
    <script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
    {%- endif -%}
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-image-lightbox" src="https://cdn.ampproject.org/v0/amp-image-lightbox-0.1.js"></script>
    <script async custom-element="amp-lightbox" src="https://cdn.ampproject.org/v0/amp-lightbox-0.1.js"></script>
    <script async custom-element="amp-font" src="https://cdn.ampproject.org/v0/amp-font-0.1.js"></script>
    <script async custom-element="amp-fx-collection" src="https://cdn.ampproject.org/v0/amp-fx-collection-0.1.js"></script>
    {%- if layout.amp.addthis or page.amp.addthis -%}
    <script async custom-element="amp-addthis" src="https://cdn.ampproject.org/v0/amp-addthis-0.1.js"></script>
    {%- endif -%}
    {%- if layout.amp.iframe or page.amp.iframe or true -%}
    <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
    {%- endif -%}
    {%- if layout.amp.script or page.amp.script -%}
    <script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script>
    {%- endif -%}
    {%- if page.amp.youtube -%}
    <script async custom-element="amp-youtube" src="https://cdn.ampproject.org/v0/amp-youtube-0.1.js"></script>
    {%- endif -%}
    {%- if page.amp.gist -%}
    <script async custom-element="amp-gist" src="https://cdn.ampproject.org/v0/amp-gist-0.1.js"></script>
    {%- endif -%}
    <script async custom-element="amp-form" src="https://cdn.ampproject.org/v0/amp-form-0.1.js"></script>
    <script async custom-element="amp-autocomplete" src="https://cdn.ampproject.org/v0/amp-autocomplete-0.1.js"></script>
    <script async custom-element="amp-link-rewriter" src="https://cdn.ampproject.org/v0/amp-link-rewriter-0.1.js"></script>

    <link rel="icon" href="{{ site.favicon | relative_url }}">
    <link rel="preconnect dns-prefetch" href="https://www.googletagmanager.com" crossorigin>
    <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>
    <link rel="preload" href="{{ site.logo | relative_url }}" as="image" crossorigin>
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.13.1/webfonts/fa-brands-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.13.1/webfonts/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="preload" href="https://use.fontawesome.com/releases/v5.13.1/webfonts/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" crossorigin>
    {%- if site.adsense.client_id and site.adstyle != false -%}
    <link rel="preload" href="https://icon-library.com/images/b8d82a619c.png" as="image" crossorigin>
    {%- endif -%}
    {%- if page.image.path -%}
      {%- assign img_ext = page.image.path | split: "." | last -%}
      {%- if img_ext == "svg" -%}
    <link rel="preload" href="{{ page.image.path | relative_url }}" as="image" crossorigin>
      {%- else -%}
        {%- assign img_name = page.image.path | remove: img_ext -%}
    <link rel="preload" href="{{ img_name }}.webp" as="image" type="image/webp" crossorigin>
      {%- endif -%}
    {%- endif -%}

    {%- if jekyll.environment == 'production' -%}
      {%- assign adtest_status = '' -%}
    {%- else -%}
      {%- assign adtest_status = 'data-adtest="on"' -%}
    {%- endif -%}
    {%- if page.custom_head -%}
    {{ page.custom_head }}
    {%- endif -%}

    <style amp-custom>
      {% include css/amp-bs4.min.css %}
      {% include css/amp-theme.min.css %}
      {% include css/amp-navigation.min.css %}
    {%- if site.invitation_codes != false -%}
      {% include css/amp-invitation-codes.min.css %}
    {%- endif -%}
      {%- if site.adsense.client_id and site.adstyle != false -%}
        {% include css/amp-ad-styles.min.css %}
      {%- endif -%}
    {%- if site.anchor_link != false -%}
      {% include css/amp-anchor-link.min.css %}
    {%- endif -%}
      {% include css/amp-custom.min.css %}
      {% include css/amp-toc.min.css %}
      {% include css/amp-sidebar.min.css %}
      {% include css/amp-tags.min.css %}
      {% include css/amp-footer.min.css %}
      {% include css/amp-bmc-button.min.css %}
      {% include css/amp-responsive.min.css %}
    {%- if layout.css.badge == true or page.css.badge == true -%}
      {% include css/amp-bs4-badge.min.css %}
    {%- endif -%}
    {%- if layout.css.syntax == true or page.css.syntax == true -%}
      {% include css/amp-syntax-highlight.min.css %}
    {%- endif %}
    {%- if layout.css.custom -%}
      {{ layout.css.custom }}
    {%- endif -%}
    {%- if page.css.custom -%}
      {{ page.css.custom }}
    {%- endif -%}
    </style>
  </head>

  {%- capture layout -%}{% if page.layout %}layout-{{ page.layout }}{% endif %}{%- endcapture -%}

  <body class="{{ layout }}" data-amp-auto-lightbox-disable>
    {%- if site.gtm -%}
    <!-- Google Tag Manager -->
    <amp-analytics config="https://www.googletagmanager.com/amp.json?id={{ site.gtm }}&gtm.url=SOURCE_URL"
      data-credentials="include" style="width:1px;height:1px;"></amp-analytics>
    {%- endif -%}
    {%- if site.adsense.client_id and site.adsense.auto_ads != false -%}
    <amp-auto-ads type="adsense" data-ad-client="{{ site.adsense.client_id }}" {{ adtest_status }} data-full-width>
      <div placeholder>Loading Ads...</div>
      <div fallback></div>
      <div overflow></div>
    </amp-auto-ads>
    {%- endif -%}

    <!-- Begin Menu Navigation -->
    <header amp-fx="float-in-top" id="navbar" class="navbar navbar-toggleable-md navbar-light fixed-top mediumnavigation">

      <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/" title="Site Home">
          <amp-img src="{{ site.logo | relative_url }}" alt="{{ site.name }}" height="36" width="140" style="width:140px;height:36px;" noloading>
            <amp-img fallback src="{{ site.logo | relative_url }}" alt="{{ site.name }}" height="36" width="140" noloading></amp-img>
          </amp-img>
        </a>
        {%- if site.baseurl != "" and site.baseurl != "/" and site.pages.size > 1 -%}
        {%- assign maxLength = site.nav.local.max_title_length | default: 30 -%}
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ "/" | relative_url }}" title="↰ Top Page">{{ site.title | truncate: maxLength }} <i class="fas fa-anchor" aria-hidden="true"></i></a>
          </li>
        </ul>
        {%- endif -%}
        <!-- Begin Menu -->
        <button class="navbar-toggler navbar-toggler-right" on="tap:navbarsWow.toggleClass(class='show')" type="button"
        data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false"
        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarsWow">
          {% include main-nav/navigation.html %}
        </div>
        <!-- End Menu -->
      </div>
    </header>

    <amp-lightbox scrollable id="amp-searchbar" layout="nodisplay" animate-in="fade-in" hidden="hidden">
      <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Search for</h5> <button type="button" on="tap:amp-searchbar.close" tabindex="-1" class="close">×</button>
          </div>
          <div class="modal-body">
            <div class="search_form">
              <form method="GET" action="{{ "search" | relative_url }}" target="_top">
                <amp-autocomplete class="searchbox" filter="substring" src="/assets/data/suggestions.json">
                  <input class="form-control" name="q" type="search" placeholder="Search" required />
                </amp-autocomplete>
                <input hidden name="sitesearch" value="chriskyfung.github.io"/>
                <button class="btn btn-primary" type="submit">Search</button>
              </form>
            </div>
          </div>
      </div>
      </div>
    </amp-lightbox>
    <!-- End Menu Navigation -->

    <!--
    Template Name:Affiliates
    Copyright:WowThemes.net,https://www.wowthemes.net
    Version:1.0.2
    License: https://www.wowthemes.net/freebies-license/
    -->

    <div class="site-content">
      <div class="container">
        <!-- Content -->
        <div class="main-content" style="margin-top: 88px;">
          {{ content }}
        </div>
      </div>
      <h2 class="sr-only">Footer</h2>
      <!-- Before Footer -->
      <div class="beforefooter">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 mt-3">
              {% include footer/call-for-action.html %}
            </div>
            <div class="col-md-4 text-center footersocial">
              <div class="mb-4">
                {% include footer/subscription-button.html %}
              </div>
              <div>
                {% include footer/follow-buttons.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Begin Footer  -->
      <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-3">
              <div class="footer-widget">
                {% include footer/footer-widget-col0.html %}
              </div>
            </div>

            <div class="col-sm-3">
              <div class="footer-widget">
                {% include footer/footer-widget-col1.html %}
              </div>
            </div>

            <div class="col-sm-3">
              <div class="footer-widget">
                {% include footer/footer-widget-col2.html %}
              </div>
            </div>

            <div class="col-sm-3">
              <div class="footer-widget">
                {% include footer/footer-widget-col3.html %}
              </div>
            </div>
          </div>

          <div class="footer-bar">
            <p class="float-lg-left" aria-label="copyright">
              {% include footer/copyright-notice.html %}
            </p>
            <p class="float-lg-right">Powered by <a aria-label="theme credit"
              href="https://chriskyfung.github.io/amp-affiliately-jekyll-theme/" rel="noopener noreferrer">AMP Affiliately Theme</a> |
              {% include footer/footer-right-text.html %}
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    </div><!-- /.site-content -->

    {%- if site.google_analytics -%}
    <!-- Configure analytics to use gtag -->
    <amp-analytics type="gtag" data-credentials="include" style="width:1px;height:1px;">
      <script type="application/json">
        {
          "vars": {
            "gtag_id": "{{ site.google_analytics }}",
            "config": {
              "{{ site.google_analytics }}": { "groups": "default" }
            }
          },
          "triggers": {
            "trackAnchorClicks": {
              "selector": "a:not([href^='{{ site.url }}'])",
              "on": "click",
              "request": "event",
              "vars": {
                "event_category": "External Link",
                "event_name": "${eventLabel}",
                "event_label": "{{ page.url }}",
                "method": "Google"
              }
            }
          }
        }
      </script>
    </amp-analytics>
    {%- endif -%}

    <amp-image-lightbox id="lightbox1" layout="nodisplay" data-close-button-aria-label="Close" hidden="hidden"></amp-image-lightbox>
    <amp-link-rewriter layout="nodisplay">
      <script type="application/json">
        {
          "output": "https://redirect.viglink.com?key=${apiKey}&u=${href}&type=ap&loc=SOURCE_URL&ref=DOCUMENT_REFERRER",
          "vars": {
            "apiKey": "56a8cde8bc46ec169ed23320c0e35c68"
          }
        }
      </script>
    </amp-link-rewriter>

  </body>
</html>