---
layout: default
disqus: false
archive: false
post_class: post-template
amp:
  iframe: true
  addthis: true
---

<!-- Begin Article -->

<div class="row">

  <!-- Post -->
  {%- assign author = site.authors[page.author] -%}

  <div id="post" class="col-md-8 col-lg-8">
    <div class="mainheading">

      <!-- Post Categories -->
      <div class="after-post-tags">
        <ul class="tags">
          {%- assign sortedCategories = page.categories | sort -%}
          {%- for category in sortedCategories -%}
          <li>
            <a href="{{ category | slugify | prepend: "category/" | relative_url }}/">{{ category }}</a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
      <!-- End Categories -->

      <!-- Post Title -->
      <h1 class="posttitle">{{ page.title }}</h1>

    </div>

    <!-- Post Featured Image -->
    {%- if page.image -%}
    {%- unless page.image.hide -%}
    {%- assign imgext = page.image.path | split: "." | last -%}
    {%- assign imgpath = page.image.path | remove: imgext -%}
    {%- if imgext == "svg" -%}
    <amp-img class="featured-image {{ page.image.class }}" width="{{ page.image.width | default: 730 }}" height="{{ page.image.height | default: 411 }}" layout="responsive" src="{{ page.image.path | relative_url }}" alt="{{ page.title }}"></amp-img>
    {%- else -%}
    <amp-img class="featured-image {{ page.image.class }}" width="{{ page.image.width | default: 730 }}" height="{{ page.image.height | default: 411 }}" layout="responsive" src="{{ imgpath | relative_url }}webp" alt="{{ page.title }}">
      <amp-img fallback class="featured-image {{ page.image.class }}" width="{{ page.image.width | default: 730 }}" height="{{ page.image.height | default: 411 }}" layout="responsive" src="{{ page.image.path | relative_url }}" alt="{{ page.title }}"></amp-img>
    </amp-img>
    {%- endif -%}
    {%- endunless -%}
    {%- endif -%}
    <!-- End Featured Image -->

    <!-- Post Date -->
    <p>
      <small>
        {% include blocks/post-date.html %}
      </small>
    </p>

    {%- include blocks/share-buttons.html -%}

    {%- comment -%}
    {%- include blocks/ad-before-content.html -%}
    {%- endcomment -%}

    <!-- Post Content -->
    <div class="article-post">
      
      {%- if site.anchor_link == false -%}
        {%- assign modified_content_2 = content -%}
      {%- else -%}
        {%- assign splited_by_h2 = content | split: '<h2 id=' -%}
        {%- assign modified_content_1 = splited_by_h2 | first -%}
        {% for splited_h2_part in splited_by_h2 offset:1 %}
          {%- assign h2_splits = splited_h2_part | split: '</h2>' -%}
          {%- assign h2_tag = h2_splits | first | split: '>' -%}
          {%- assign h2_id = h2_tag | first | replace: '"', '' -%}
          {% assign modified_content_1 = modified_content_1 | append: '<h2 id=' | append: h2_splits.first | append: '<a class="anchor-link" href="#' | append: h2_id | append: '"><i class="fas fa-link"></i></a></h2>' |  append: h2_splits[1] -%}
        {% endfor %}

        {%- assign splited_by_h3 = modified_content_1 | split: '<h3 id=' -%}
        {%- assign modified_content_2 = splited_by_h3 | first -%}
        {% for splited_h3_part in splited_by_h3 offset:1 %}
          {%- assign h3_splits = splited_h3_part | split: '</h3>' -%}
          {%- assign h3_tag = h3_splits | first | split: '>' -%}
          {%- assign h3_id = h3_tag | first | replace: '"', '' -%}
          {% assign modified_content_2 = modified_content_2 | append: '<h3 id=' | append: h3_splits[0] | append: '<a class="anchor-link" href="#' | append: h3_id | append: '"><i class="fas fa-link"></i></a></h3>' |  append: h3_splits[1] -%}
        {% endfor %}
      {%- endif -%}

      {%- if site.target_blank == false -%}
        {%- assign modified_content_3 = modified_content_2 -%}
      {%- else -%}
        {%- assign splited_by_a = modified_content_2 | split: '<a ' -%}
        {%- assign modified_content_3 = splited_by_a | first -%}
        {% for splited_a_part in splited_by_a offset:1 %}
          {%- assign a_splits = splited_a_part | split: '</a>' -%}
          {%- assign a_tag = a_splits | first | split: '>' -%}
          {%- assign a_attrs = a_tag | first -%}
          {%- if a_attrs contains 'href="http://' or a_attrs contains 'href="https://' -%}
            {%- unless a_attrs contains ' target="' or a_attrs contains ' class="' or a_attrs contains ' rel="' -%}
              {%- assign a_href = a_attrs | prepend: ' ' | split: 'href="' | slice: 1 | join: '' | split: '"' | first -%}
              {%- assign a_inner = a_tag | slice: 1, a_tag.size | join: '>' -%}
              
              {%- assign modified_content_3 = modified_content_3 | append: '<a class="external" data-vars-event-label="' | append: a_href | append: '" ' | append: a_attrs | append: ' rel="noopener noreferrer" target="_blank">' | append: a_inner | append: '</a>' | append: a_splits[1] -%}
            {%- else -%}
              {%- assign modified_content_3 = modified_content_3 | append: '<a ' | append: splited_a_part -%}
            {%- endunless -%}    
          {%- else -%}
            {%- assign modified_content_3 = modified_content_3 | append: '<a ' | append: splited_a_part -%}
          {%- endif -%}
        {% endfor %}
      {%- endif -%}

      {{ modified_content_3 }}
      <div class="clearfix"></div>
    </div>

    <!-- Post Tags -->
    <div class="after-post-tags">
      <ul class="tags rounded-tags">
        {%- assign sortedTags = page.tags | sort -%}
        {%- for tag in sortedTags -%}
        <li>
          <a href="{{ tag | slugify | prepend: "tag/" | relative_url }}/">{{ tag }}</a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
    <!-- End Tags -->

    <!-- Prev/Next -->
    <div class="row PageNavigation mt-4 prevnextlinks">
      {%- if page.previous.url -%}
      <div class="col-md-6 rightborder pl-0">
        <a class="thepostlink" href="{{page.previous.url | relative_url}}">&laquo; {{page.previous.title}}</a>
      </div>
      {%- endif -%}
      {%-if page.next.url -%}
      <div class="col-md-6 text-right pr-0">
        <a class="thepostlink" href="{{page.next.url | relative_url}}">{{page.next.title}} &raquo;</a>
      </div>
      {%- endif -%}
    </div>
    <!-- End Prev/Next -->


    <!-- Author Box -->
    {%- if page.author -%}
    <div class="row post-top-meta">
      <div class="col-md-2">
        <amp-img class="author-thumb" width="72" height="72" src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250&d=mm&r=x" alt="{{ author.display_name }}"></amp-img>
      </div>
      <div class="col-md-10">
        <a class="link-dark" href="{{ author.web }}" rel="noopener" target="_blank">{{ author.display_name }}</a><a href="{{ author.facebook }}" class="btn follow" rel="noopener" target="_blank">Follow</a>
        <span class="author-description">{{ author.description }}</span>
      </div>
    </div>
    {%- endif -%}


    <!-- Begin Comments -->
    <section>
      <div id="comments">
        {%- include blocks/disqus.html -%}
      </div>
    </section>
    <!--End Comments -->

  </div>
  <!-- End Post -->

  <!-- Right Sidebar -->
  <div class="col-md-4 col-lg-4">
    <div class="sidebar-right">
      {%- include sidebar/sidebar.html -%}
    </div>
  </div>

</div>

<!-- End Article -->