<aside class="sidebar">

  {%- if page.resources_widget != nil -%}
    {%- assign resources_widget = page.resources_widget -%}
  {%- elsif layout.resources_widget != nil -%}
    {%- assign resources_widget = layout.resources_widget -%}
  {%- elsif site.resources_widget != nil -%}
    {%- assign resources_widget = site.resources_widget -%}
  {%- else -%}
    {%- assign resources_widget = true -%}
  {%- endif -%}

  {%- if resources_widget != false or page.download == true or page.download.url -%}
  <div id="resources-widget" class="sidebar-section">
    <h5><span>Resources</span></h5>
    {%- if site.repository and site.github.repository_url -%}
      {%- if site.target_blank -%}
        {%- assign rel_target = ' rel="noopener noreferrer" target="_blank"' -%}
      {%- endif -%}
      <a class="btn btn-primary btn-lg col-12 mb-3" href="{{ site.github.repository_url }}"{{ rel_target }}>View on GitHub <i class="fab fa-github"></i></a>    
      {%- if site.github.latest_release -%}
      <a class="btn btn-primary btn-lg col-12 mb-3" href="{{ site.github.latest_release.html_url }}"{{ rel_target }}>Latest Release</a>
      <div class="row mb-3" style="justify-content: space-between;">
        <div><i class='fas fa-tag'></i> {{ site.github.latest_release.tag_name }}</div>
        <div><i class='fas fa-clock'></i> <time datetime="{{ site.github.latest_release.published_at }}">{{ site.github.latest_release.published_at | date: "%b %d, %Y" }}</time></div>
        {%- if site.repository and site.github.license -%}
        <div><i class='fas fa-balance-scale'></i> {{ site.github.license.spdx_id }} License</div>
        {%- endif -%}
      </div>
      {%- endif -%}
    {%- endif -%}
    {%- if page.download.url or page.download.files -%}
      {%- if page.download.url -%}
    <a class="btn btn-primary btn-lg col-12 mb-3" href="{{ page.download.url }}" download>Download</a>
      {%- endif -%}
      {% for file in page.download.files -%}
    <a class="btn btn-primary btn-lg col-12 mb-3" href="{{ file.url }}" download><i class='fas fa-download' style="float:left"></i> {{ file.name }}</a>
      {%- endfor -%}
    {%- endif -%}
  </div>
  {%- endif -%}

  {%- unless site.sidebar.featured == false or page.url == "/blog/" or page.url contains "/blog/page" -%}
  <!-- Featured -->
  <div aria-label="featured posts" class="sidebar-section">
    <h5><span>Featured</span></h5>

    <section class="featured-posts">

      <div class="listfeaturedtag">

        {%- for post in site.posts -%}

        {%- if post.featured == true -%}

        {%- include sidebar/featured-list.html -%}

        {%- endif -%}

        {%- endfor -%}

      </div>

    </section>
  </div>
  {%- endunless -%}

  {% unless site.sidebar.recent_posts == false or page.url == "/" or page.url == "/blog/" or page.url contains "/blog/page"%}
  <!-- Recent Posts -->
  <div aria-label="recent posts" class="sidebar-section">
    <h5><span>Recent Posts</span></h5>

    <section class="recent-posts">

      <div class="listfeaturedtag">

        {%- for post in site.posts limit:4 -%}

        {%- include sidebar/featured-list.html -%}

        {%- endfor -%}

      </div>

    </section>
  </div>
  {%- endunless -%}

  {%- include sidebar/sidebar-widget0.html -%}

  {%- include sidebar/sidebar-widget1.html -%}

  {%- include sidebar/sidebar-widget2.html -%}

  {%- include sidebar/sidebar-widget3.html -%}

</aside>